Repository crystal-lang/crystal, pull requests merged in 2018-12, with the labels that each got.

#6982 Add --format option to docs command
  src/compiler/crystal/command/docs.cr
  src/compiler/crystal/tools/doc/generator.cr
Labels: kind:feature, topic:compiler, topic:tools

#7133 Fix build. Update recent specs of doc generator
  spec/compiler/crystal/tools/doc/generator_spec.cr
  spec/compiler/crystal/tools/doc/macro_spec.cr
  spec/compiler/crystal/tools/doc/method_spec.cr
Labels: kind:bug, topic:compiler, topic:docs, topic:tools

#7134 Add helper methods to emit float32 float64 values
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/codegen/llvm_builder_helper.cr
  src/compiler/crystal/types.cr
Labels: kind:refactor, topic:compiler

#7124 Docs: don't show subtypes of aliased type
  spec/compiler/crystal/tools/doc/type_spec.cr
  src/compiler/crystal/tools/doc/generator.cr
Labels: kind:bug, topic:compiler, topic:docs, topic:tools

#7152 Add `Iterator#slice_before`
  spec/std/iterator_spec.cr
  src/iterable.cr
  src/iterator.cr
Labels: kind:feature, topic:stdlib

#7150 Add Enumerable#to_h(&block)
  spec/std/enumerable_spec.cr
  src/enumerable.cr
Labels: kind:feature, topic:stdlib

#7156 Add microsecond precision to System::File.utime (Unix)
  src/crystal/system/unix/file.cr
Labels: kind:feature, topic:stdlib

#7159 Add `Iteratory#slice_when` and `Iterator#chunk_while`
  spec/std/iterator_spec.cr
  src/iterable.cr
  src/iterator.cr
Labels: kind:feature, topic:stdlib

#7153 Fix `Annotation#[]` to behave like `NamedTupleLiteral#[]`
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros.cr
  src/compiler/crystal/macros/methods.cr
Labels: kind:feature, topic:compiler, topic:macros

#7158 Fix 'NamedTupleLiteral#[]` to raise an error for invalid key type
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros.cr
  src/compiler/crystal/macros/methods.cr
Labels: kind:feature, topic:compiler, topic:macros

#7163 Compiler: add missing NamedTupleInstanceType#has_in_type_vars?
  spec/compiler/semantic/named_tuple_spec.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler

#7166 Add `Enumerable#one?`
  spec/std/enumerable_spec.cr
  src/enumerable.cr
Labels: kind:feature, topic:stdlib

#7144 Remove special case single argument from `crystal tool format`
  src/compiler/crystal/command/format.cr
Labels: kind:refactor, topic:formatter

#7172 Refactor: String#to_i to avoid future overflow
  spec/std/string_spec.cr
  src/string.cr
Labels: kind:refactor, topic:stdlib

#7180 Compiler: remove very old `nil?` error on pointer types
  spec/compiler/semantic/pointer_spec.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
Labels: kind:bug, topic:compiler

#7182 Compiler: allow trailing commas inside tuple types
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler

#7176 Formatter: fix bug related to typeof inside generic type
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:compiler, topic:formatter

#7174 Add several Enumerable, Iterator and Array overloads that accept a pattern
  spec/std/array_spec.cr
  spec/std/enumerable_spec.cr
  spec/std/iterator_spec.cr
  src/array.cr
  src/enumerable.cr
  src/iterable.cr
  src/iterator.cr
Labels: kind:feature, topic:stdlib

#7161 Compiler: use freeze_type as node type if node doesn't have a type
  spec/compiler/semantic/block_spec.cr
  src/compiler/crystal/semantic/bindings.cr
Labels: kind:feature, topic:compiler

#7184 Fix formatting for heredoc having interpolation of string literal
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:compiler, topic:formatter

#7099 Format: keep trailing spaces in macros
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:compiler, topic:formatter, topic:tools

#7194 Compiler: give proper error when trying to access instance variable of union type
  spec/compiler/semantic/class_spec.cr
  src/compiler/crystal/semantic/bindings.cr
Labels: kind:bug, topic:compiler

#7186 build: depend on standard variable to let the user define the builddate
  src/compiler/crystal/config.cr
Labels: kind:feature, topic:compiler

#7208 Turn a not compiler specific error while requiring into ICE
  src/compiler/crystal/semantic/semantic_visitor.cr
Labels: kind:bug, topic:compiler

#6310 add Set#from_yaml
  spec/std/yaml/serialization_spec.cr
  src/yaml/from_yaml.cr
Labels: kind:feature, topic:stdlib:serialization

#7137 ECR: fix error location when specified wrong `io_name`
  spec/std/ecr/ecr_spec.cr
  src/ecr/processor.cr
Labels: kind:feature, topic:stdlib

#7221 Fix Time::Span initializer from big seconds and sleep with big seconds
  spec/std/time/span_spec.cr
  src/crystal/event.cr
  src/time/span.cr
Labels: kind:bug, topic:stdlib:time

#7224 Capitalise Crystal in CLI output
  src/compiler/crystal/command.cr
Labels: kind:docs, topic:tools

#7230 Update distribution-scripts
  .circleci/config.yml
Labels: topic:infrastructure

#7228 CI: Split formatting check
  .circleci/config.yml
  bin/ci
Labels: topic:infrastructure

#7223 Check the cipher flags to see if the cipher supports aead
  spec/std/openssl/cipher_spec.cr
  src/openssl/cipher.cr
  src/openssl/lib_crypto.cr
Labels: kind:feature, topic:stdlib:crypto

#7232 Converting between JSON and YAML
  spec/std/json/any_spec.cr
  spec/std/yaml/any_spec.cr
  src/json/any.cr
  src/yaml/any.cr
Labels: kind:feature, topic:stdlib:serialization

#7234 Clean SemanticVersion for better performance
  src/semantic_version.cr
Labels: kind:refactor, topic:stdlib

#7242 Fix more typos
  src/array.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/compiler.cr
  src/compiler/crystal/macros.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/call.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/type_declaration_processor.cr
  src/compiler/crystal/syntax/lexer.cr
  src/compiler/crystal/tools/init/template/gitignore.ecr
  src/compiler/crystal/types.cr
  src/concurrent.cr
  src/concurrent/future.cr
  src/crystal/system/dir.cr
  src/crystal/system/win32/file.cr
  src/file.cr
  src/file/info.cr
  src/http/server.cr
  src/io.cr
  src/static_array.cr
  src/time.cr
  src/time/location.cr
  src/tuple.cr
Labels: kind:docs
