Repository crystal-lang/crystal, pull requests merged in 2018-07, with the labels that each got.

#6304 Let IO#sync only affect writes, introduce `IO#read_buffering?` and use it in urandom
  spec/std/io/buffered_spec.cr
  src/crystal/system/unix/urandom.cr
  src/io/buffered.cr
Labels: kind:bug, topic:stdlib

#6300 Fix formatting of `{ {1}.foo, ...}`
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:formatter

#6312 Fix: Rename datapath helper to compiler_datapath for compiler specs
  spec/compiler/compiler_spec.cr
  spec/compiler/spec_helper.cr
Labels: kind:bug, topic:specs

#6313 Update CI to use 0.25.1
  .circleci/config.yml
  bin/ci
Labels: topic:infrastructure

#6320 Fix: disallow cast from module class to virtual metaclass
  spec/compiler/semantic/module_spec.cr
  src/compiler/crystal/semantic/restrictions.cr
Labels: kind:bug, topic:compiler

#6301 Remove File.each_line method that returns an iterator
  spec/std/file_spec.cr
  src/file.cr
Labels: breaking-change, topic:stdlib

#6241 add .new and .empty? to HTTP::Params
  spec/std/http/params_spec.cr
  src/http/params.cr
Labels: kind:feature, topic:stdlib

#6306 Implemented #2770
  src/openssl/ssl/context.cr
Labels: kind:feature, topic:stdlib

#6328 Fix File.join with separator path component
  spec/std/file_spec.cr
  src/file.cr
Labels: kind:bug, topic:stdlib

#6330 Refactor codegen_binary_op
  src/compiler/crystal/codegen/primitives.cr
Labels: kind:refactor, topic:compiler

#5623 Implement File and Dir for win32
  spec/std/dir_spec.cr
  spec/std/file_spec.cr
  spec/std/spec_helper.cr
  spec/support/tempfile.cr
  src/crystal/system/dir.cr
  src/crystal/system/file.cr
  src/crystal/system/file_info.cr
  src/crystal/system/unix/file.cr
  src/crystal/system/unix/file_descriptor.cr
  src/crystal/system/win32/dir.cr
  src/crystal/system/win32/file.cr
  src/crystal/system/win32/file_descriptor.cr
  src/crystal/system/win32/file_info.cr
  src/crystal/system/win32/time.cr
  src/crystal/system/windows.cr
  src/dir.cr
  src/errno.cr
  src/file.cr
  src/file/preader.cr
  src/io.cr
  src/lib_c/x86_64-windows-msvc/c/basetsd.cr
  src/lib_c/x86_64-windows-msvc/c/direct.cr
  src/lib_c/x86_64-windows-msvc/c/errno.cr
  src/lib_c/x86_64-windows-msvc/c/fcntl.cr
  src/lib_c/x86_64-windows-msvc/c/fileapi.cr
  src/lib_c/x86_64-windows-msvc/c/io.cr
  src/lib_c/x86_64-windows-msvc/c/stdint.cr
  src/lib_c/x86_64-windows-msvc/c/sys/stat.cr
  src/lib_c/x86_64-windows-msvc/c/sys/utime.cr
  src/lib_c/x86_64-windows-msvc/c/winbase.cr
  src/lib_c/x86_64-windows-msvc/c/winnt.cr
  src/prelude.cr
  src/tempfile.cr
Labels: kind:feature, topic:stdlib, topic:windows

#6337 Update bountysource link
  README.md
Labels: topic:docs

#6332 Add XML::Reader ParserOptions Support
  spec/std/xml/reader_spec.cr
  src/xml/libxml2.cr
  src/xml/reader.cr
Labels: kind:feature, topic:stdlib

#6342 Don't merge tuple metaclasses through instance types
  spec/compiler/semantic/tuple_spec.cr
  src/compiler/crystal/semantic/type_merge.cr
Labels: kind:bug, topic:compiler

#6347 Error if using `return` inside a constant's value
  spec/compiler/semantic/const_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler

#6346 Fix: incorrect debug info for closured self
  spec/compiler/codegen/debug_spec.cr
  src/compiler/crystal/codegen/fun.cr
Labels: kind:bug, topic:compiler

#6355 Encoding: compare with case insensitive UTF-8 to avoid using iconv when not necessary
  spec/std/io/io_spec.cr
  src/io.cr
Labels: kind:bug, topic:performance, topic:stdlib

#6356 Fix: Add type restriction to Crypto::Bcrypt::Password#==
  spec/std/crypto/bcrypt/password_spec.cr
  src/crypto/bcrypt/password.cr
Labels: kind:bug, topic:stdlib

#6351 Revert: Don't automatically virtualize two types in the same hierarchy, unless one is deeper than the other
  samples/sdl/fire.cr
  spec/compiler/codegen/class_spec.cr
  spec/compiler/semantic/class_spec.cr
  spec/compiler/semantic/def_spec.cr
  spec/compiler/semantic/struct_spec.cr
  spec/compiler/semantic/virtual_metaclass_spec.cr
  spec/compiler/semantic/virtual_spec.cr
  src/compiler/crystal/codegen/cast.cr
  src/compiler/crystal/semantic/type_merge.cr
Labels: breaking-change, topic:compiler

#6219 Add support for multiple Etags in If-None-Match header
  spec/std/http/request_spec.cr
  spec/std/http/server/handlers/static_file_handler_spec.cr
  src/http/request.cr
  src/http/server/handlers/static_file_handler.cr
Labels: kind:feature, topic:stdlib

#6329 Add &+ &- &* &** operators parsing
  spec/compiler/codegen/proc_spec.cr
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/lexer/lexer_spec.cr
  spec/compiler/normalize/op_assign_spec.cr
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/lexer.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:feature, topic:parser

#6367 Syntax: allow empty `case` without `when`
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/normalize/case_spec.cr
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/semantic/literal_expander.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:feature, topic:compiler

#6374 Add pp! and p! macro methods
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros/methods.cr
Labels: kind:feature, topic:compiler

#6382 Fix: accept newline before closing macro
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler

#6371 Add ECR.render for rendering without setting up an IO
  spec/std/ecr/ecr_spec.cr
  src/ecr/macros.cr
Labels: kind:feature, topic:stdlib

#6388 Fix udp example for udp method on Socket::Addrinfo
  src/socket/addrinfo.cr
Labels: kind:bug, topic:docs

#6336 Improve docs of big module overloads
  src/big/big_decimal.cr
  src/big/big_float.cr
  src/big/big_int.cr
  src/big/big_rational.cr
Labels: kind:bug, topic:docs

#6392 Format: fix to use right alignment only if all whens are number literal
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:feature, topic:formatter

#6393 Format: fix comment indentation in case's else
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:formatter

#6387 Fix missing comment inside code block example
  src/time.cr
Labels: kind:bug, topic:docs

#6408 Do TODO in spec/compiler/parser/parser_spec.cr
  spec/compiler/parser/parser_spec.cr
Labels: kind:refactor, topic:compiler, topic:specs

#6410 HTTP::Client: set `connection: close` header on one-shot requests
  spec/std/http/client/client_spec.cr
  src/http/client.cr
Labels: topic:stdlib

#6411 Compiler: give error if constant has NoReturn type
  spec/compiler/semantic/const_spec.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
Labels: kind:bug, topic:compiler

#6418 Give proper error when doing sizeof uninstantiated generic type
  spec/compiler/codegen/sizeof_spec.cr
  spec/compiler/semantic/primitives_spec.cr
  spec/compiler/semantic/sizeof_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler

#6432 Fix: private aliases at top-level not considered private
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/parser/parser_spec.cr
  spec/compiler/parser/to_s_spec.cr
  spec/compiler/semantic/alias_spec.cr
  spec/compiler/semantic/private_spec.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/syntax/to_s.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, kind:feature, topic:compiler

#6424 Formatter: don't format code fence when language is not crystal
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:compiler, topic:formatter

#5354 Fix the scope to look-up the constant as the receiver type of the macro
  spec/compiler/semantic/macro_spec.cr
  src/compiler/crystal/semantic/semantic_visitor.cr
Labels: kind:bug, topic:compiler

#6333 Extract platform-specifics from ENV to Crystal::System::Env and implement for win32
  spec/std/env_spec.cr
  spec/std/file_spec.cr
  spec/std/string/utf16_spec.cr
  src/crystal/system/env.cr
  src/crystal/system/unix/env.cr
  src/crystal/system/win32/dir.cr
  src/crystal/system/win32/env.cr
  src/crystal/system/win32/time.cr
  src/env.cr
  src/lib_c/x86_64-windows-msvc/c/stdlib.cr
  src/lib_c/x86_64-windows-msvc/c/winbase.cr
  src/lib_c/x86_64-windows-msvc/c/winnt.cr
  src/string.cr
  src/string/utf16.cr
Labels: breaking-change, topic:stdlib, topic:windows

#6358 Restrict `exp.@var` to types in the same hierarchy
  spec/compiler/codegen/c_struct_spec.cr
  spec/compiler/codegen/class_spec.cr
  spec/compiler/codegen/macro_spec.cr
  spec/compiler/codegen/pointer_spec.cr
  spec/compiler/codegen/proc_spec.cr
  spec/compiler/codegen/struct_spec.cr
  spec/compiler/semantic/c_struct_spec.cr
  spec/compiler/semantic/class_spec.cr
  spec/compiler/semantic/instance_var_spec.cr
  spec/compiler/semantic/read_instance_var_spec.cr
  spec/std/array_spec.cr
  spec/std/char_spec.cr
  spec/std/crystal/hasher_spec.cr
  spec/std/hash_spec.cr
  spec/std/http/multipart/parser_spec.cr
  spec/std/json/mapping_spec.cr
  spec/std/object_spec.cr
  spec/std/string_spec.cr
  spec/std/yaml/mapping_spec.cr
  src/char.cr
  src/compiler/crystal/semantic/bindings.cr
  src/compiler/crystal/semantic/call_error.cr
  src/compiler/crystal/types.cr
  src/hash.cr
  src/io.cr
Labels: breaking-change, kind:feature, topic:compiler

#6442 Change WinError to get message as UTF16 string
  src/lib_c/x86_64-windows-msvc/c/winbase.cr
  src/winerror.cr
Labels: kind:feature, topic:stdlib, topic:windows

#6428 Fix Atomic#swap with reference types
  spec/std/atomic_spec.cr
  src/atomic.cr
Labels: kind:bug, topic:stdlib

#6383 Fix version check for LLVM < 6.0
  src/llvm/ext/llvm_ext.cc
Labels: topic:compiler

#6308 replace mapping with serializable in compiler
  src/compiler/crystal/macros/macros.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/tools/context.cr
  src/compiler/crystal/tools/expand.cr
  src/compiler/crystal/tools/implementations.cr
Labels: kind:refactor, topic:compiler

#6445 Fix Random#rand(Range(Float, Float)) to return Float
  spec/std/random_spec.cr
  src/random.cr
Labels: kind:bug, topic:stdlib

#6460 Update doc for JSON::Any
  src/json/any.cr
Labels: kind:bug, topic:docs, topic:stdlib

#6414 Compiler: evaluate instance var initializers at the metaclass level
  spec/compiler/codegen/class_spec.cr
  spec/compiler/codegen/proc_spec.cr
  spec/compiler/semantic/class_spec.cr
  spec/compiler/semantic/instance_var_spec.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/semantic/instance_vars_initializer_visitor.cr
  src/compiler/crystal/types.cr
Labels: breaking-change, kind:bug, topic:compiler

#6471 Fix OpenSSL::Digest for multibyte strings
  spec/std/digest/md5_spec.cr
  spec/std/digest/sha1_spec.cr
  spec/std/openssl/digest_spec.cr
  src/openssl/digest/digest.cr
Labels: kind:bug, topic:stdlib
