Repository crystal-lang/crystal, pull requests merged in 2019-05, with the labels that each got.

#7724 Detect deprecation on initialize methods and methods with named args
  spec/compiler/codegen/warnings_spec.cr
  src/compiler/crystal/codegen/warnings.cr
  src/compiler/crystal/semantic/default_arguments.cr
  src/compiler/crystal/semantic/new.cr
Labels: kind:bug, topic:compiler

#7701 Implement Slice#[]?
  spec/std/slice_spec.cr
  src/slice.cr
Labels: kind:feature, topic:stdlib:collection

#7695 Format: don't produce unnecessary newline before named args following heredoc
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter

#7733 Compiler: fix private def defined inside macro
  spec/compiler/semantic/private_spec.cr
  src/compiler/crystal/program.cr
Labels: kind:bug, topic:compiler:semantic

#7732 Restrict bsearch block type
  src/indexable.cr
  src/range/bsearch.cr
Labels: breaking-change, kind:bug, topic:stdlib:collection

#7734 Compiler: let puts string in macro omit quotes
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros/methods.cr
Labels: kind:bug, topic:lang:macros

#7436 Add missing `String#to_i` type annotations
  src/string.cr
Labels: breaking-change, kind:refactor, topic:stdlib:text

#7691 Change String#to_i to parse octals with prefix 0o
  spec/std/string_spec.cr
  spec/std/yaml/schema/core_spec.cr
  src/string.cr
  src/yaml/schema/core.cr
Labels: kind:feature, topic:stdlib:text

#7735 Compiler: fix subclass observer
  spec/compiler/codegen/generic_class_spec.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#7739 Remove old duplicated 'def contains_target'
  src/compiler/crystal/tools/expand.cr
  src/compiler/crystal/tools/implementations.cr
Labels: kind:refactor, topic:compiler

#7743 Compiler: fix bug related to types that can't be inferred
  spec/compiler/semantic/class_spec.cr
  spec/compiler/semantic/class_var_spec.cr
  spec/compiler/semantic/instance_var_spec.cr
  spec/compiler/semantic/nilable_instance_var_spec.cr
  src/compiler/crystal/semantic/exception.cr
  src/compiler/crystal/semantic/type_declaration_processor.cr
  src/compiler/crystal/semantic/type_guess_visitor.cr
Labels: kind:bug, kind:refactor, topic:compiler:semantic

#7745 Format: fix formatting multiline call arguments indentation
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter

#7744 Format: fix formatting Annotation with newlines and spaces
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter

#7746 Compiler: make automatic cast work with `with ... yield`
  spec/compiler/semantic/automatic_cast.cr
  src/compiler/crystal/semantic/call_error.cr
  src/compiler/crystal/semantic/exception.cr
Labels: kind:bug, topic:compiler:semantic

#7747 Compiler: fix automatic cast with multiple equal matches
  spec/compiler/semantic/automatic_cast.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#7754 Parser: allow `call &.@var`
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:compiler:parser

#7755 Compiler: analyze pointerof exp for errors
  spec/compiler/semantic/pointer_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#7756 Compiler: fix error on named args forwarding
  spec/compiler/semantic/named_args_spec.cr
  src/compiler/crystal/semantic/call_error.cr
Labels: kind:bug, topic:compiler:semantic

#7757 Compiler: error on macro call in proc pointer
  spec/compiler/semantic/proc_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#7750 Compiler: consider macro calls in ivar initializer
  spec/compiler/semantic/macro_spec.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/semantic/type_guess_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#7759 Compiler: give precedence to T.class over Class
  spec/compiler/semantic/restrictions_spec.cr
  src/compiler/crystal/semantic/restrictions.cr
Labels: kind:bug, topic:compiler:semantic

#7761 Compiler: check NoReturn type in named args
  spec/compiler/semantic/named_args_spec.cr
  src/compiler/crystal/semantic/call.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
Labels: kind:bug, topic:compiler:semantic

#7758 Compiler: fix require relative path resolution
  spec/compiler/crystal_path/crystal_path_spec.cr
  spec/std/http/web_socket_spec.cr
  spec/std/kernel_spec.cr
  src/compiler/crystal/crystal_path.cr
Labels: breaking-change, kind:bug, topic:compiler

#7774 Hide hidden matches in non-recursive directories if `match_hidden` is false.
  spec/std/dir_spec.cr
  src/dir/glob.cr
Labels: kind:bug, topic:stdlib:files

#7765 implement IO::MultiWriter#flush
  spec/std/io/multi_writer_spec.cr
  src/io/multi_writer.cr
  src/logger.cr
Labels: kind:bug, topic:stdlib:files

#7776 Compiler: fix enum overflow on non-default values
  spec/compiler/codegen/enum_spec.cr
  spec/compiler/semantic/enum_spec.cr
  src/compiler/crystal/semantic/math_interpreter.cr
  src/compiler/crystal/semantic/semantic_visitor.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#7781 Compiler: fix a couple of issues with unbound/abstract generic types
  spec/compiler/codegen/generic_class_spec.cr
  spec/compiler/semantic/generic_class_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/restrictions.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:generics

#7778 Rename File::DEVNULL to File::NULL
  spec/std/file_spec.cr
  src/file.cr
  src/process.cr
Labels: breaking-change, kind:refactor, topic:stdlib:files

#7780 Tweak docs for Slice#[] methods
  src/slice.cr
Labels: kind:docs, topic:stdlib:collection

#7742 Implementation: allow to lookup class and module implementations
  spec/compiler/crystal/tools/implementations_spec.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/type_lookup.cr
  src/compiler/crystal/tools/implementations.cr
Labels: kind:feature, topic:tools

#7785 Compiler: fix type flow of var in if with &&
  spec/compiler/semantic/if_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#7790 Bcrypt: rename `Password#==` to `Password#verify`
  spec/std/crypto/bcrypt/password_spec.cr
  src/crypto/bcrypt/password.cr
Labels: breaking-change, kind:refactor, topic:stdlib:crypto

#7793 Compiler: fix wrong cast to unbound generic type
  spec/compiler/semantic/cast_spec.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/bindings.cr
  src/compiler/crystal/semantic/call.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/semantic_visitor.cr
  src/compiler/crystal/semantic/type_guess_visitor.cr
  src/compiler/crystal/semantic/type_lookup.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#7792 Compiler: fix bug related to if branch truthiness
  spec/compiler/codegen/if_spec.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
Labels: kind:bug, topic:compiler:semantic

#7801 Compiler: don't precompute sizeof on abstract structs and modules
  spec/compiler/codegen/sizeof_spec.cr
  spec/compiler/semantic/sizeof_spec.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: breaking-change, kind:bug, topic:compiler:semantic

#7803 Add missing requires to openssl.cr
  src/openssl.cr
Labels: kind:bug, topic:stdlib

#7804 Move VERSION inside ./src
  bin/ci
  src/VERSION
  src/compiler/crystal/config.cr
Labels: topic:infrastructure

#7809 YAML: let String handle numbers too
  spec/std/yaml/mapping_spec.cr
  spec/std/yaml/serialization_spec.cr
  src/yaml/from_yaml.cr
Labels: kind:bug, topic:stdlib:serialization

#7811 Fix record macro with inheritance
  spec/std/record_spec.cr
  src/macros.cr
Labels: kind:bug, topic:stdlib:macros

#7775 Do not generate debug metadata for arguments of naked functions
  src/compiler/crystal/codegen/fun.cr
Labels: kind:bug, topic:compiler

#7812 Compiler: fix extend from generic types
  spec/compiler/semantic/module_spec.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#7815 Compiler: don't virtualize types in Union(...)
  spec/compiler/semantic/union_spec.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#7819 Fix flake: compress handler specs
  spec/std/http/server/handlers/compress_handler_spec.cr
Labels: kind:refactor, topic:stdlib:specs

#7445 OpenSSL::SSL::Socket#cipher and #tls_version
  spec/std/openssl/ssl/socket_spec.cr
  src/openssl/lib_ssl.cr
  src/openssl/ssl/socket.cr
Labels: kind:feature, topic:stdlib:networking

#7787 Compiler: handle edge case of abstract struct with one subclass
  spec/compiler/codegen/struct_spec.cr
  src/compiler/crystal/codegen/primitives.cr
Labels: kind:bug, topic:compiler

#7818 Compiler: fix new/initialize lookup regarding modules
  spec/compiler/semantic/module_spec.cr
  src/compiler/crystal/semantic/call_error.cr
  src/compiler/crystal/semantic/method_lookup.cr
  src/compiler/crystal/types.cr
Labels: breaking-change, kind:bug, topic:compiler:semantic

#7828 Fix typo: truhiness -> truthiness
  src/compiler/crystal/semantic/cleanup_transformer.cr
Labels: kind:refactor, topic:compiler

#7597 Add sort methods to Slice
  spec/std/slice_spec.cr
  src/array.cr
  src/slice.cr
  src/slice/sort.cr
Labels: kind:feature, topic:stdlib:collection

#7833 Compiler: fix a couple of wrong error messages
  spec/compiler/semantic/generic_class_spec.cr
  spec/compiler/semantic/macro_spec.cr
  src/compiler/crystal/semantic/bindings.cr
  src/compiler/crystal/semantic/exception.cr
Labels: kind:bug, topic:compiler:semantic

#7806 Compiler: fix a couple of issues with while and rescue
  spec/compiler/codegen/while_spec.cr
  spec/compiler/semantic/while_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#7827 Compiler: fully track AST nodes name location
  spec/compiler/semantic/def_spec.cr
  src/compiler/crystal/semantic/exception.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/syntax/location.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#7837 Allow running compiler_specs with specific flags
  spec/spec_helper.cr
Labels: kind:specs, topic:compiler
