Repository crystal-lang/crystal, pull requests merged in 2020-05, with the labels that each got.

#9178 Support DragonFly(BSD)
  src/compiler/crystal/codegen/target.cr
  src/compiler/crystal/semantic/flags.cr
  src/crystal/iconv.cr
  src/crystal/system.cr
  src/crystal/system/unix/file.cr
  src/crystal/system/unix/process.cr
  src/crystal/system/unix/pthread.cr
  src/crystal/system/unix/sysconf_cpucount.cr
  src/crystal/system/unix/sysctl_cpucount.cr
  src/errno.cr
  src/exception/call_stack.cr
  src/gc/boehm.cr
  src/intrinsics.cr
  src/lib_c/x86_64-dragonfly/c/arpa/inet.cr
  src/lib_c/x86_64-dragonfly/c/dirent.cr
  src/lib_c/x86_64-dragonfly/c/dlfcn.cr
  src/lib_c/x86_64-dragonfly/c/errno.cr
  src/lib_c/x86_64-dragonfly/c/fcntl.cr
  src/lib_c/x86_64-dragonfly/c/grp.cr
  src/lib_c/x86_64-dragonfly/c/iconv.cr
  src/lib_c/x86_64-dragonfly/c/netdb.cr
  src/lib_c/x86_64-dragonfly/c/netinet/in.cr
  src/lib_c/x86_64-dragonfly/c/netinet/tcp.cr
  src/lib_c/x86_64-dragonfly/c/pthread.cr
  src/lib_c/x86_64-dragonfly/c/pwd.cr
  src/lib_c/x86_64-dragonfly/c/sched.cr
  src/lib_c/x86_64-dragonfly/c/signal.cr
  src/lib_c/x86_64-dragonfly/c/stdarg.cr
  src/lib_c/x86_64-dragonfly/c/stddef.cr
  src/lib_c/x86_64-dragonfly/c/stdint.cr
  src/lib_c/x86_64-dragonfly/c/stdio.cr
  src/lib_c/x86_64-dragonfly/c/stdlib.cr
  src/lib_c/x86_64-dragonfly/c/string.cr
  src/lib_c/x86_64-dragonfly/c/sys/file.cr
  src/lib_c/x86_64-dragonfly/c/sys/mman.cr
  src/lib_c/x86_64-dragonfly/c/sys/resource.cr
  src/lib_c/x86_64-dragonfly/c/sys/select.cr
  src/lib_c/x86_64-dragonfly/c/sys/socket.cr
  src/lib_c/x86_64-dragonfly/c/sys/stat.cr
  src/lib_c/x86_64-dragonfly/c/sys/time.cr
  src/lib_c/x86_64-dragonfly/c/sys/types.cr
  src/lib_c/x86_64-dragonfly/c/sys/un.cr
  src/lib_c/x86_64-dragonfly/c/sys/wait.cr
  src/lib_c/x86_64-dragonfly/c/sysctl.cr
  src/lib_c/x86_64-dragonfly/c/termios.cr
  src/lib_c/x86_64-dragonfly/c/time.cr
  src/lib_c/x86_64-dragonfly/c/unistd.cr
  src/math/libm.cr
  src/process/executable_path.cr
  src/socket/address.cr
  src/termios.cr
Labels: kind:feature, platform

#9194 Parser: fix parsing of ambiguous '+' and '-'
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#9212 Fix typo in src/string.cr
  src/string.cr
Labels: kind:bug, kind:docs

#9167 Parser: refactor and fix parser for `unless` inside macro
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#9203 examples: fix (2020-04)
  src/compress/zip/reader.cr
  src/docs_pseudo_methods.cr
  src/json/to_json.cr
  src/levenshtein.cr
  src/path.cr
  src/string.cr
  src/uuid/json.cr
Labels: kind:bug, kind:docs

#9204 Add titleize method to String.
  spec/std/string_spec.cr
  src/string.cr
Labels: kind:feature, topic:stdlib:text

#9200 Docs: fix links to methods with String default values
  src/compiler/crystal/tools/doc/html/js/doc.js
  src/compiler/crystal/tools/doc/method.cr
Labels: kind:bug, topic:tools:docs

#9201 Log: Add Log.capture spec helper
  spec/std/http/server/handlers/error_handler_spec.cr
  spec/std/http/server/handlers/log_handler_spec.cr
  spec/std/http/server/request_processor_spec.cr
  spec/std/log/env_config_spec.cr
  spec/std/log/main_spec.cr
  spec/std/log/spec_spec.cr
  spec/support/log.cr
  src/docs_main.cr
  src/log/broadcast_backend.cr
  src/log/builder.cr
  src/log/spec.cr
  src/spec/dsl.cr
Labels: kind:feature, topic:stdlib:log, topic:stdlib:specs

#9180 HTTP::Status docs
  src/http/status.cr
Labels: kind:docs, topic:stdlib:networking

#9232 Parser: fix parsing of capitalized named argument
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#9224 Support `TypeNode.name(generic_args: false)` for generic instances
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:stdlib:macros

#9238 Fix segfaults when static linking with musl
  src/crystal/system/unix/pthread.cr
Labels: kind:bug, platform:linux-musl, topic:stdlib:runtime

#9137 Add Path#empty?
  src/path.cr
Labels: kind:refactor, topic:stdlib:files

#9240 Log: Avoid hard breaking change in Log.setup_from_env
  src/log/setup.cr
Labels: topic:stdlib:log

#9234 Fix `crystal spec` file paths on Windows
  src/compiler/crystal/command/spec.cr
Labels: kind:bug, platform:windows, topic:compiler

#9187 Fix version selector in API docs shows current version twice
  src/compiler/crystal/tools/doc/html/js/_versions.js
Labels: kind:bug, topic:tools:docs

#9207 Set `sync` or `flush_on_newline` for standard I/O on Windows.
  src/crystal/system/unix/file_descriptor.cr
  src/crystal/system/win32/file_descriptor.cr
  src/io/file_descriptor.cr
  src/lib_c/x86_64-windows-msvc/c/consoleapi.cr
Labels: platform:windows, topic:stdlib:files

#9250 Fix version selector in API docs shows current version twice
  src/compiler/crystal/tools/doc/html/js/_versions.js
Labels: kind:bug, topic:tools:docs

#9252 [Docs] Fix line-height in version selector
  src/compiler/crystal/tools/doc/html/css/style.css
Labels: kind:bug, topic:tools:docs

#9242 Update distribution-scripts
  .circleci/config.yml
Labels: topic:infrastructure

#9254 Rename CLI argument to json-config-url
  man/crystal.1
  src/compiler/crystal/command/docs.cr
Labels: kind:bug, topic:tools:docs

#9175 Cleanup File & FileUtils
  spec/std/dir_spec.cr
  spec/std/file_spec.cr
  spec/std/file_utils_spec.cr
  spec/std/io/io_spec.cr
  src/compiler/crystal/compiler.cr
  src/dir.cr
  src/file.cr
  src/file_utils.cr
  src/io.cr
Labels: breaking-change, kind:feature, topic:stdlib:files

#9258 Let `case when` be non-exhaustive, introduce `case in` as exhaustive
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/macro/macro_methods_spec.cr
  spec/compiler/normalize/case_spec.cr
  spec/compiler/parser/parser_spec.cr
  spec/compiler/parser/to_s_spec.cr
  spec/compiler/semantic/case_spec.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
  src/compiler/crystal/semantic/exhaustiveness_checker.cr
  src/compiler/crystal/semantic/literal_expander.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/syntax/to_s.cr
  src/compiler/crystal/tools/formatter.cr
  src/digest/md5.cr
  src/time.cr
Labels: breaking-change, kind:feature, topic:compiler:semantic

#9244 Add Experimental annotation and doc label
  spec/compiler/codegen/experimental_spec.cr
  spec/compiler/crystal/tools/doc/generator_spec.cr
  src/annotations.cr
  src/compiler/crystal/codegen/experimental.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/tools/doc/generator.cr
  src/compiler/crystal/tools/doc/html/css/style.css
Labels: kind:feature, topic:compiler, topic:tools:docs

#9210 Change `HTTP::Request#remote_address` type to `Socket::Address?`
  spec/std/http/server/handlers/log_handler_spec.cr
  spec/std/http/server/server_spec.cr
  src/http/request.cr
  src/http/server/handlers/log_handler.cr
Labels: breaking-change, topic:stdlib:networking

#9243 HTTP::Server: defer request upgrade (aka: WebSockets)
  src/http/server.cr
  src/http/server/handlers/websocket_handler.cr
  src/http/server/request_processor.cr
  src/http/server/response.cr
Labels: kind:bug, topic:stdlib:networking

#9248 Skip no closure check for non-Crystal procs
  spec/compiler/codegen/closure_spec.cr
  src/compiler/crystal/codegen/codegen.cr
Labels: kind:bug, topic:compiler

#9263 Make `NamedTuple#sorted_keys` public
  spec/std/named_tuple_spec.cr
  src/named_tuple.cr
Labels: kind:feature, topic:stdlib

#9227 Add Log Metadata
  spec/std/log/broadcast_backend_spec.cr
  spec/std/log/context_spec.cr
  spec/std/log/log_spec.cr
  spec/std/log/metadata_spec.cr
  src/crystal/datum.cr
  src/log.cr
  src/log/context.cr
  src/log/entry.cr
  src/log/io_backend.cr
  src/log/json.cr
  src/log/log.cr
  src/log/main.cr
  src/log/metadata.cr
Labels: breaking-change, kind:feature, topic:stdlib:log

#9163 Add link to GitHub repo to README.md
  README.md
Labels: kind:docs

#9211 Refactor Log::Formatter
  spec/std/log/format_spec.cr
  spec/std/log/io_backend_spec.cr
  src/log.cr
  src/log/backend.cr
  src/log/format.cr
  src/log/io_backend.cr
Labels: kind:feature, topic:stdlib:log

#9090 Refactor spec hooks
  spec/std/spec/hooks_spec.cr
  src/spec/context.cr
  src/spec/dsl.cr
  src/spec/example.cr
  src/spec/methods.cr
Labels: kind:refactor, topic:stdlib:specs

#8426 Cleanup Digest and OpenSSL::Digest
  spec/std/digest/md5_spec.cr
  spec/std/digest/sha1_spec.cr
  spec/std/openssl/digest_spec.cr
  src/digest/base.cr
  src/digest/md5.cr
  src/digest/sha1.cr
  src/openssl/digest/digest.cr
  src/openssl/digest/digest_base.cr
  src/openssl/digest/digest_io.cr
Labels: breaking-change, topic:stdlib

#9134 Refactor to standardize on first argument for methods receiving `IO`
  spec/std/enumerable_spec.cr
  spec/std/int_spec.cr
  spec/std/string_spec.cr
  src/array.cr
  src/char.cr
  src/colorize.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/exception.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/call_error.cr
  src/compiler/crystal/semantic/exception.cr
  src/compiler/crystal/semantic/warnings.cr
  src/compiler/crystal/syntax/exception.cr
  src/compiler/crystal/syntax/to_s.cr
  src/compiler/crystal/tools/doc/generator.cr
  src/compiler/crystal/tools/doc/method.cr
  src/compiler/crystal/tools/doc/type.cr
  src/compiler/crystal/types.cr
  src/deque.cr
  src/enumerable.cr
  src/fiber.cr
  src/http/common.cr
  src/http/server/response.cr
  src/int.cr
  src/json/builder.cr
  src/option_parser.cr
  src/pointer.cr
  src/proc.cr
  src/reference.cr
  src/semantic_version.cr
  src/set.cr
  src/slice.cr
  src/static_array.cr
  src/string.cr
  src/string/formatter.cr
  src/time.cr
  src/tuple.cr
  src/uri.cr
  src/uri/encoding.cr
  src/xml/attributes.cr
  src/xml/namespace.cr
  src/xml/node.cr
  src/xml/node_set.cr
Labels: breaking-change, kind:refactor, topic:stdlib

#9119 Refactor Docs::Generator source link generation
  Makefile
  man/crystal.1
  spec/compiler/crystal/tools/doc/project_info_spec.cr
  spec/compiler/crystal/tools/doc_spec.cr
  src/compiler/crystal/command/docs.cr
  src/compiler/crystal/tools/doc/generator.cr
  src/compiler/crystal/tools/doc/html/type.html
  src/compiler/crystal/tools/doc/main.cr
  src/compiler/crystal/tools/doc/project_info.cr
  src/compiler/crystal/tools/doc/relative_location.cr
  src/compiler/crystal/tools/doc/type.cr
Labels: kind:refactor, topic:tools:docs

#9288 XML: improve xpath regarding namespaces
  spec/std/xml/xpath_spec.cr
  src/xml/node.cr
  src/xml/xpath_context.cr
Labels: kind:bug, kind:feature, topic:stdlib:serialization

#9287 Compiler: cast fun function pointer to Proc
  spec/compiler/codegen/closure_spec.cr
  spec/compiler/codegen/proc_spec.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/codegen/fun.cr
  src/compiler/crystal/codegen/primitives.cr
Labels: kind:bug, topic:compiler:codegen

#9293 Log: Rename Severity::Warning to Severity::Warn
  spec/std/log/broadcast_backend_spec.cr
  spec/std/log/builder_spec.cr
  spec/std/log/env_config_spec.cr
  spec/std/log/format_spec.cr
  spec/std/log/io_backend_spec.cr
  spec/std/log/log_spec.cr
  spec/std/log/main_spec.cr
  src/compiler/crystal.cr
  src/log.cr
  src/log/entry.cr
  src/log/format.cr
  src/log/log.cr
Labels: breaking-change, topic:stdlib:log

#9294 Avoid requiring non std-lib spec spec_helper in hooks_spec
  spec/std/exception/call_stack_spec.cr
  spec/std/exception_spec.cr
  spec/std/io/file_descriptor_spec.cr
  spec/std/kernel_spec.cr
  spec/std/process_spec.cr
  spec/std/spec/hooks_spec.cr
  spec/std/spec_helper.cr
Labels: kind:refactor, topic:stdlib:specs

#9296 Fix: realpath on macOS 10.15 (Catalina)
  src/lib_c/x86_64-darwin/c/stdlib.cr
Labels: kind:bug, platform:darwin, topic:stdlib:files

#9236 Add IO overloads to various String case methods
  spec/std/string_spec.cr
  src/string.cr
Labels: kind:feature, topic:stdlib:text

#9230 Escape CDATA end sequences
  spec/std/xml/builder_spec.cr
  src/xml/builder.cr
Labels: kind:bug, topic:stdlib:serialization

#9269 Add `StringLiteral#titleize` macro method
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros.cr
  src/compiler/crystal/macros/methods.cr
Labels: kind:feature, topic:lang:macros

#9270 `TypeNode` methods to check what "type" the node is
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros.cr
  src/compiler/crystal/macros/methods.cr
Labels: kind:feature, topic:lang:macros

#9307 Resolve the always-present Windows linker's warnings
  .github/workflows/win.yml
  .gitignore
  src/compiler/crystal/codegen/link.cr
  src/compiler/crystal/compiler.cr
  src/llvm/lib_llvm_ext.cr
Labels: kind:feature, platform:windows, topic:compiler:codegen

#9208 Parser: rewrite type parser
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/parser/parser_spec.cr
  spec/compiler/semantic/restrictions_spec.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, kind:refactor, topic:compiler:parser, topic:lang:type-system

#9233 Make IO#skip IO#write returns the number of bytes it skipped/written
  spec/std/http/chunked_content_spec.cr
  spec/std/http/request_spec.cr
  spec/std/http/server/response_spec.cr
  spec/std/io/buffered_spec.cr
  spec/std/io/io_spec.cr
  spec/std/io/memory_spec.cr
  spec/std/io/sized_spec.cr
  spec/std/io/stapled_spec.cr
  spec/support/io.cr
  src/compress/deflate/writer.cr
  src/compress/gzip/writer.cr
  src/compress/zip/checksum_writer.cr
  src/compress/zlib/writer.cr
  src/float.cr
  src/http/content.cr
  src/http/server/response.cr
  src/http/web_socket/protocol.cr
  src/int.cr
  src/io.cr
  src/io/buffered.cr
  src/io/byte_format.cr
  src/io/delimited.cr
  src/io/encoding.cr
  src/io/hexdump.cr
  src/io/memory.cr
  src/io/multi_writer.cr
  src/io/sized.cr
  src/io/stapled.cr
  src/openssl/digest/digest_io.cr
  src/openssl/ssl/socket.cr
  src/string/builder.cr
Labels: breaking-change, kind:feature, topic:stdlib:networking

#9305 [Docs] Fix source_url_pattern with canonical repo name
  spec/compiler/crystal/tools/doc/project_info_spec.cr
  src/compiler/crystal/tools/doc/project_info.cr
Labels: kind:bug, topic:tools:docs

#9310 Implement Process(env:) on Windows and add more Env specs
  spec/std/env_spec.cr
  spec/std/process_spec.cr
  src/crystal/system/win32/env.cr
  src/crystal/system/win32/process.cr
  src/lib_c/x86_64-windows-msvc/c/processthreadsapi.cr
Labels: platform:windows, topic:lang:type-system

#9283 Support different number of fraction digits for RFC3339 time format
  spec/std/time/format_spec.cr
  spec/std/yaml/serialization_spec.cr
  src/log/format.cr
  src/time.cr
  src/time/format/custom/rfc_3339.cr
  src/time/format/formatter.cr
Labels: breaking-change, kind:feature, topic:stdlib:time

#9303 Followup of #9134. Missing swap of arguments
  src/http/formdata/builder.cr
Labels: kind:refactor, topic:stdlib:networking

#9295 Log::Metadata optimizations
  spec/std/log/context_spec.cr
  spec/std/log/format_spec.cr
  spec/std/log/io_backend_spec.cr
  spec/std/log/log_spec.cr
  spec/std/log/metadata_spec.cr
  src/log/entry.cr
  src/log/format.cr
  src/log/json.cr
  src/log/main.cr
  src/log/metadata.cr
Labels: breaking-change, topic:stdlib:log

#9231 refactor: remove heredoc related code from StringLiteral formatter
  src/compiler/crystal/tools/formatter.cr
Labels: kind:refactor, topic:tools:formatter

#9316 Keep Log::Severity::Warning as deprecated definition
  src/log/entry.cr
Labels: topic:stdlib:log

#9315 Always include `lib` directory in the CRYSTAL_PATH
  spec/compiler/crystal_path/crystal_path_spec.cr
  spec/std/log/env_config_spec.cr
  spec/support/env.cr
  src/compiler/crystal/crystal_path.cr
Labels: kind:feature, topic:compiler

#9324 Compiler: fix yield computation inside macro code
  spec/compiler/parser/parser_spec.cr
  spec/compiler/semantic/abstract_def_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:semantic

#9325 Range: use `while true` when possible in `each` and `reverse_each`
  spec/std/range_spec.cr
  src/range.cr
Labels: kind:feature, topic:stdlib:collection

#9332 Docs: correctly attach docs before annotations to following types
  spec/compiler/semantic/doc_spec.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
Labels: kind:bug, topic:tools:docs

#9341 Allow annotations and ditto in macro
  spec/compiler/semantic/doc_spec.cr
  src/compiler/crystal/annotatable.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/tools/doc/macro.cr
  src/compiler/crystal/types.cr
Labels: kind:feature, topic:compiler, topic:tools:docs

#9329 Parser: fix to parse `{[] of Foo, self.foo}` correctly
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#9350 LibSSL: Add NO_TLS_V1_3 option
  src/openssl/lib_ssl.cr
Labels: kind:feature, topic:stdlib:crypto

#9330 Fix Enumerable#{zip,zip?} when self is an Iterator (#9328)
  spec/std/enumerable_spec.cr
  src/enumerable.cr
Labels: kind:bug, topic:stdlib:collection

#9088 Use SOURCE_DATE_EPOCH only to determine compiler date
  Makefile
  src/compiler/crystal/config.cr
Labels: kind:refactor, platform, topic:compiler, topic:infrastructure

#8972 Simplify Link annotation handling
  spec/compiler/semantic/lib_spec.cr
  src/annotations.cr
  src/compiler/crystal/codegen/link.cr
  src/compiler/crystal/compiler.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/gc/boehm.cr
Labels: topic:compiler

#9272 Deprecate JSON.mapping and YAML.mapping
  src/json.cr
  src/json/mapping.cr
  src/json/to_json.cr
  src/uuid/json.cr
  src/yaml.cr
  src/yaml/mapping.cr
  src/yaml/to_yaml.cr
Labels: breaking-change, topic:stdlib:serialization

#9340 Process raises `IO::Error` (or subclasses)
  spec/std/process_spec.cr
  src/crystal/system/unix/process.cr
  src/crystal/system/win32/process.cr
  src/process.cr
Labels: kind:refactor, topic:stdlib:runtime

#9334 Fix parsing AM/PM hours
  spec/std/time/format_spec.cr
  spec/std/time/time_spec.cr
  src/time.cr
  src/time/format/parser.cr
Labels: kind:bug, topic:stdlib:time

#9363 Change IO#write, IO#skip, IO.copy to return Int64
  spec/std/http/request_spec.cr
  spec/std/http/server/response_spec.cr
  spec/std/io/io_spec.cr
  spec/std/io/sized_spec.cr
  spec/support/io.cr
  src/compress/deflate/writer.cr
  src/compress/gzip/writer.cr
  src/compress/zip/checksum_writer.cr
  src/compress/zlib/writer.cr
  src/float.cr
  src/http/content.cr
  src/http/server/response.cr
  src/http/web_socket/protocol.cr
  src/int.cr
  src/io.cr
  src/io/buffered.cr
  src/io/byte_format.cr
  src/io/delimited.cr
  src/io/encoding.cr
  src/io/hexdump.cr
  src/io/memory.cr
  src/io/multi_writer.cr
  src/io/sized.cr
  src/io/stapled.cr
  src/openssl/digest/digest_io.cr
  src/string/builder.cr
Labels: breaking-change, topic:stdlib:networking

#9043 Add Process.quote and fix shell usages in the compiler
  spec/compiler/compiler_spec.cr
  spec/spec_helper.cr
  spec/std/io/file_descriptor_spec.cr
  spec/std/process_spec.cr
  src/compiler/crystal/codegen/cache_dir.cr
  src/compiler/crystal/codegen/link.cr
  src/compiler/crystal/compiler.cr
  src/compiler/crystal/macros/methods.cr
  src/crystal/system/win32/process.cr
  src/process/shell.cr
Labels: kind:feature, topic:stdlib:system

#9368 Fix typo in "deserializing"
  src/yaml/from_yaml.cr
Labels: kind:bug, topic:stdlib:serialization

#9369 Enumerable#join args swap. Follow up #9043
  src/process/shell.cr
Labels: kind:refactor, topic:stdlib:system

#9370 CI: Use --json-config-url doc option
  bin/ci
Labels: topic:infrastructure

#9366 Make autocasting work in default values against unions
  spec/compiler/semantic/automatic_cast.cr
  src/compiler/crystal/semantic/class_vars_initializer_visitor.cr
  src/compiler/crystal/semantic/instance_vars_initializer_visitor.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#9359 Refactor CrystalPath::Error
  spec/compiler/crystal_path/crystal_path_spec.cr
  spec/compiler/semantic/require_spec.cr
  src/compiler/crystal/crystal_path.cr
  src/compiler/crystal/macros/macros.cr
  src/compiler/crystal/semantic/semantic_visitor.cr
Labels: kind:refactor, topic:compiler

#9367 Refactor spec_helper
  spec/compiler/codegen/warnings_spec.cr
  spec/compiler/semantic/abstract_def_spec.cr
  spec/compiler/semantic/automatic_cast_spec.cr
  spec/compiler/semantic/cleanup_spec.cr
  spec/compiler/semantic/concrete_types_spec.cr
  spec/compiler/semantic/lib_spec.cr
  spec/compiler/semantic/warnings_spec.cr
  spec/spec_helper.cr
  spec/support/syntax.cr
Labels: kind:refactor, kind:specs
