Repository crystal-lang/crystal, pull requests merged in 2021-12, with the labels that each got.

#11513 Revert "[Makefile] Make LLVM_CONFIG check conditional based on usage"
  Makefile
Labels: kind:bug, topic:infrastructure, kind:regression

#11367 Allow metaclass parameters in `Proc` literals and pointers
  spec/compiler/semantic/proc_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#11440 [lexer] Correctly increase nesting for escaped macro "unless"
  spec/compiler/lexer/lexer_macro_spec.cr
  src/compiler/crystal/syntax/lexer.cr
Labels: kind:bug, topic:compiler:parser

#11395 Parses JSON UInt64 numbers.
  spec/std/json/pull_parser_spec.cr
  spec/std/json/serialization_spec.cr
  src/json/from_json.cr
Labels: kind:bug, topic:stdlib:serialization

#11446 Show proper syntax errors in some edge cases in the parser
  spec/compiler/lexer/lexer_spec.cr
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/lexer.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#11469 Fix parse yield with parenthesis
  spec/compiler/parser/parser_spec.cr
  spec/compiler/parser/to_s_spec.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/syntax/to_s.cr
Labels: kind:bug, topic:compiler:parser

#11498 Update license template
  src/compiler/crystal/tools/init/template/license.ecr
Labels: topic:infrastructure

#11500 Pin alpine repo for ssl libs to 3.15
  .github/workflows/openssl.yml
Labels: topic:infrastructure

#11298 Move specs for arithmetic primitives to `primitives_spec`
  .github/workflows/aarch64.yml
  .github/workflows/win.yml
  CONTRIBUTING.md
  Makefile
  bin/check-compiler-flag
  bin/ci
  spec/all_spec.cr
  spec/compiler/codegen/arithmetics_spec.cr
  spec/compiler/codegen/convert_spec.cr
  spec/compiler/codegen/primitives_spec.cr
  spec/primitives/float_spec.cr
  spec/primitives/int_spec.cr
  spec/primitives_spec.cr
  spec/std/overflow_spec.cr
  spec/support/number.cr
  spec/win32_std_spec.cr
Labels: topic:infrastructure, kind:specs, topic:stdlib:numeric

#11521 Don't generate PDB for MPIR on Windows
  .github/workflows/win.yml
Labels: topic:infrastructure, platform:windows

#11512 [CI] Fix `test_dist_linux_on_docker`
  .circleci/config.yml
Labels: kind:bug, topic:infrastructure

#11529 Opt-out number autocast (instead of opt-in)
  spec/compiler/codegen/automatic_cast_spec.cr
  spec/compiler/semantic/automatic_cast_spec.cr
  src/compiler/crystal/codegen/call.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/call.cr
  src/compiler/crystal/semantic/call_error.cr
  src/compiler/crystal/semantic/class_vars_initializer_visitor.cr
  src/compiler/crystal/semantic/instance_vars_initializer_visitor.cr
  src/compiler/crystal/types.cr
Labels: topic:compiler, breaking-change

#11519 [Makefile] Check for LLVM_CONFIG only when LLVM is used
  Makefile
Labels: kind:feature, topic:infrastructure

#11516 Encode OpenSSL version on Windows
  .github/workflows/win.yml
  src/openssl/lib_crypto.cr
  src/openssl/lib_ssl.cr
Labels: topic:infrastructure, topic:stdlib:crypto, platform:windows

#11437 Implement compiler-rt's 128-bit integer conversions to/from floats
  spec/std/crystal/compiler_rt/divmod128_spec.cr
  spec/std/crystal/compiler_rt/fixint_spec.cr
  spec/std/crystal/compiler_rt/float_spec.cr
  spec/std/crystal/compiler_rt/mulodi4_spec.cr
  spec/std/crystal/compiler_rt/mulosi4_spec.cr
  spec/std/crystal/compiler_rt/muloti4_spec.cr
  spec/std/crystal/compiler_rt/spec_helper.cr
  spec/support/number.cr
  src/crystal/compiler_rt.cr
  src/crystal/compiler_rt/fixint.cr
  src/crystal/compiler_rt/float.cr
Labels: kind:feature, topic:stdlib:numeric

#11514 Update distribution-scripts
  .circleci/config.yml
Labels: topic:infrastructure

#11515 Update distribution-scripts for `release/1.2`
  .circleci/config.yml
Labels: topic:infrastructure

#11145 Require elements in 1-to-n assignments to match targets exactly
  Makefile
  spec/compiler/codegen/multi_assign_spec.cr
  spec/compiler/normalize/multi_assign_spec.cr
  spec/compiler/semantic/multi_assign_spec.cr
  spec/spec_helper.cr
  spec/std/kernel_spec.cr
  spec/std/process_spec.cr
  src/compiler/crystal/codegen/primitives.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
  src/compiler/crystal/semantic/literal_expander.cr
  src/compiler/crystal/tools/formatter.cr
  src/humanize.cr
  src/time.cr
Labels: kind:feature, breaking-change, topic:compiler:semantic, topic:lang:macros

#11538 Add commit hash to Windows builds
  .github/workflows/win.yml
Labels: kind:feature, topic:infrastructure, platform:windows

#11503 Implement `Path.home` on Windows
  .github/workflows/win.yml
  spec/std/file_spec.cr
  spec/std/path_spec.cr
  spec/support/env.cr
  src/crystal/system/path.cr
  src/crystal/system/unix/path.cr
  src/crystal/system/win32/path.cr
  src/lib_c/x86_64-windows-msvc/c/combaseapi.cr
  src/lib_c/x86_64-windows-msvc/c/knownfolders.cr
  src/lib_c/x86_64-windows-msvc/c/shlobj_core.cr
  src/path.cr
Labels: kind:feature, platform:windows, topic:stdlib:system

#11536 Add bindings to `__xstat` for x86-64-linux-gnu
  src/crystal/system/unix/file.cr
  src/crystal/system/unix/file_descriptor.cr
Labels: kind:feature, topic:stdlib:files, platform:linux-gnu, topic:interpreter

#11523 [Formatter] Fix space between call name and parenthesized arg
  spec/compiler/formatter/formatter_spec.cr
  spec/compiler/lexer/lexer_spec.cr
  spec/std/big/big_decimal_spec.cr
  spec/std/concurrent_spec.cr
  spec/std/enum_spec.cr
  spec/std/mime_spec.cr
  spec/std/string_spec.cr
  spec/std/yaml/serialization_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:feature, topic:tools:formatter

#9647 Add docs to `Crypto::Bcrypt`
  src/crypto/bcrypt.cr
Labels: kind:docs, topic:stdlib:crypto

#11475 Implement FFI bindings
  .github/workflows/aarch64.yml
  .github/workflows/linux.yml
  shell.nix
  spec/compiler/data/ffi/sum.c
  spec/compiler/ffi/ffi_spec.cr
  src/compiler/crystal/ffi/call_interface.cr
  src/compiler/crystal/ffi/closure.cr
  src/compiler/crystal/ffi/ffi.cr
  src/compiler/crystal/ffi/lib_ffi.cr
  src/compiler/crystal/ffi/type.cr
  src/compiler/crystal/loader.cr
Labels: kind:feature, topic:compiler:codegen, topic:compiler:interpreter

#11534 Support BuildTools and other VS variants in vswhere detection
  src/crystal/system/win32/visual_studio.cr
Labels: kind:feature, topic:infrastructure

#11545 Require right-hand side of one-to-many assignments to be `Indexable`
  Makefile
  spec/compiler/codegen/array_literal_spec.cr
  spec/compiler/codegen/multi_assign_spec.cr
  spec/compiler/semantic/multi_assign_spec.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
  src/compiler/crystal/semantic/type_guess_visitor.cr
Labels: kind:feature, breaking-change, topic:compiler:semantic, topic:stdlib:collection

#11379 Add `Slice#unsafe_slice_of`, `#to_unsafe_bytes`
  spec/std/slice_spec.cr
  src/slice.cr
Labels: kind:feature, topic:stdlib:collection

#11229 Fix inequality for floating-point NaNs
  spec/primitives/float_spec.cr
  src/compiler/crystal/codegen/primitives.cr
  src/primitives.cr
Labels: kind:bug, topic:stdlib:numeric, topic:compiler:codegen

#11094 Improve Base64 decoding performance
  src/base64.cr
Labels: performance, topic:stdlib:text

#11553 Clean up .pdb files for temporary executables on MSVC
  src/compiler/crystal/command.cr
Labels: kind:feature, topic:compiler, platform:windows

#11552 Disable incremental linking on MSVC
  src/compiler/crystal/compiler.cr
Labels: topic:compiler, platform:windows

#11554 Enable `kernel_spec.cr` on Windows CI
  spec/std/kernel_spec.cr
  spec/win32_std_spec.cr
Labels: platform:windows, kind:specs, topic:stdlib:system

#11556 Allow multiple `--emit` compiler options to stack
  src/compiler/crystal/command.cr
  src/compiler/crystal/compiler.cr
Labels: kind:feature, topic:compiler

#11517 Add `Log.with_context` with kwargs
  spec/std/log/context_spec.cr
  src/log/main.cr
Labels: kind:feature, topic:stdlib:log

#11211 Lexer number parsing refactor (int128 literals part 2)
  spec/compiler/lexer/lexer_spec.cr
  src/compiler/crystal/syntax/lexer.cr
Labels: kind:bug, topic:compiler:parser, topic:stdlib:numeric

#11532 Fix `YAML::Any` deserialize with alias
  spec/std/yaml/any_spec.cr
  spec/std/yaml/serializable_spec.cr
  src/yaml/any.cr
Labels: kind:bug, kind:refactor, topic:stdlib:serialization

#11531 Refactor some type restrictions in the compiler
  spec/compiler/semantic/doc_spec.cr
  src/compiler/crystal/annotatable.cr
  src/compiler/crystal/semantic/type_declaration_processor.cr
  src/compiler/crystal/tools/playground/server.cr
  src/compiler/crystal/tools/typed_def_processor.cr
Labels: topic:compiler, kind:refactor

#11366 Refactor syntax highlighter and add ANSI escape code highlighter for console
  spec/compiler/crystal/tools/doc/highlighter_spec.cr
  spec/std/crystal/syntax_highlighter/colorize_spec.cr
  spec/std/crystal/syntax_highlighter/html_spec.cr
  src/compiler/crystal/tools/doc/constant.cr
  src/compiler/crystal/tools/doc/generator.cr
  src/compiler/crystal/tools/doc/highlighter.cr
  src/compiler/crystal/tools/doc/macro.cr
  src/compiler/crystal/tools/doc/markd_doc_renderer.cr
  src/compiler/crystal/tools/doc/method.cr
  src/compiler/crystal/tools/doc/type.cr
  src/crystal/syntax_highlighter.cr
  src/crystal/syntax_highlighter/colorize.cr
  src/crystal/syntax_highlighter/html.cr
  src/docs_main.cr
Labels: kind:feature, topic:stdlib:text

#11560 Detect `cl.exe`'s path for compiler specs requiring a C compiler
  spec/support/tempfile.cr
  src/crystal/system/win32/visual_studio.cr
Labels: topic:compiler, platform:windows, kind:specs

#11506 Fix skip surrogates in `Char#succ` and `#pred`
  spec/std/char_spec.cr
  src/char.cr
Labels: kind:bug, topic:stdlib:text

#11557 Fix UTF-8 console input/output on Windows
  src/crystal/system/win32/file_descriptor.cr
  src/lib_c/x86_64-windows-msvc/c/consoleapi.cr
  src/lib_c/x86_64-windows-msvc/c/consoleapi2.cr
  src/lib_c/x86_64-windows-msvc/c/winnls.cr
Labels: kind:feature, platform:windows, topic:stdlib:text

#11573 Add minimal load-time DLL support on Windows, support `dllimport` storage class
  src/compiler/crystal/codegen/codegen.cr
  src/empty.cr
  src/lib_c.cr
  src/llvm/enums.cr
  src/llvm/lib_llvm.cr
  src/llvm/value_methods.cr
Labels: kind:feature, platform:windows, topic:compiler:codegen

#11539 Change `Regex#name_type` to return `Hash(Int32, String)`
  src/regex.cr
Labels: kind:bug, breaking-change, topic:stdlib:text

#11569 Increase default stack size on MSVC to 8 MB
  .github/workflows/win.yml
  spec/compiler/semantic/generic_class_spec.cr
  src/compiler/crystal/compiler.cr
Labels: topic:compiler, platform:windows

#11472 Implement Unicode grapheme clusters
  scripts/generate_grapheme_break_specs.cr
  scripts/generate_grapheme_properties.cr
  scripts/grapheme_properties.ecr
  spec/std/string/grapheme_break_spec.cr
  spec/std/string/grapheme_spec.cr
  spec/std/string/spec_helper.cr
  src/string.cr
  src/string/grapheme.cr
  src/string/grapheme/grapheme.cr
  src/string/grapheme/properties.cr
Labels: kind:feature, topic:stdlib:text

#10384 Avoid reallocation in `Enumerable#each_cons` and `Iterator#cons`'s default reused array
  src/enumerable.cr
  src/iterator.cr
Labels: performance, topic:stdlib:collection

#11562 Resolve compiler wildcard require
  spec/all_spec.cr
  spec/compiler/codegen/target_spec.cr
  spec/compiler/interpreter/interpreter_spec.cr
  spec/compiler_spec.cr
  spec/primitives_spec.cr
  spec/spec_helper.cr
  spec/std_spec.cr
  src/compiler/crystal.cr
  src/compiler/crystal/command.cr
  src/compiler/crystal/command/repl.cr
  src/compiler/crystal/interpreter.cr
  src/compiler/crystal/interpreter/multidispatch.cr
  src/compiler/crystal/syntax.cr
  src/compiler/crystal/tools/context.cr
  src/compiler/crystal/tools/doc.cr
  src/compiler/crystal/tools/playground.cr
  src/compiler/crystal/tools/playground/agent.cr
  src/compiler/crystal/tools/playground/agent_instrumentor_transformer.cr
  src/compiler/crystal/tools/playground/server.cr
  src/compiler/requires.cr
Labels: topic:compiler, kind:refactor

#11564 Support non-ASCII command-line arguments on Windows
  spec/std/kernel_spec.cr
  spec/std/spec_helper.cr
  src/crystal/main.cr
  src/crystal/system/win32/wmain.cr
  src/lib_c/x86_64-windows-msvc/c/stringapiset.cr
Labels: kind:bug, platform:windows, topic:stdlib:system

#11530 Refactor `Log::BroadcastBackend#single_backend?`
  src/log/broadcast_backend.cr
Labels: kind:refactor, topic:stdlib:log

#11551 Add workaround for 128-bit integer division/modulo on Windows
  spec/primitives/int_spec.cr
  spec/std/crystal/hasher_spec.cr
  spec/std/int_spec.cr
  spec/std/string_spec.cr
  spec/support/number.cr
  src/crystal/compiler_rt.cr
  src/prelude.cr
Labels: kind:bug, platform:windows, topic:stdlib:numeric

#11520 Formatter: Escape non-printable characters in literals
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:feature, topic:tools:formatter

#11510 Fix `Char#ascii_control?` restrict to ASCII characters
  spec/std/char_spec.cr
  src/char.cr
Labels: kind:bug, breaking-change, topic:stdlib:text

#11460 fix: getrandom syscall was blocking and didn't had proper error checking
  src/crystal/system/unix/getrandom.cr
  src/crystal/system/unix/syscall.cr
Labels: kind:bug, topic:stdlib:system

#11603 Revert "Formatter: Escape non-printable characters in literals"
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter, kind:regression

#11232 `crystal docs`: use `shard.yml` version when no git tag present
  spec/compiler/crystal/tools/doc/project_info_spec.cr
  src/compiler/crystal/tools/doc/project_info.cr
Labels: kind:feature, topic:tools:docs-generator

#11594 Use more efficient method to split UInt32 to bytes in Crypto::Blowfish
  src/crypto/blowfish.cr
Labels: performance, topic:stdlib:crypto, kind:refactor

#11587 Update README.md
  README.md
Labels: topic:infrastructure

#11592 Performance: specify string sizes in advance
  src/http/cookie.cr
  src/uri.cr
Labels: performance, topic:stdlib:text, topic:stdlib:networking

#11600 Fix top-level multi-assign splat variable not working in macros
  spec/compiler/semantic/multi_assign_spec.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#11571 Implement lexer int128 support
  spec/compiler/lexer/lexer_spec.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/syntax/lexer.cr
Labels: kind:feature, topic:compiler:parser, topic:stdlib:numeric

#11585 Use enums instead of symbols for `Spec`-related types
  spec/std/spec/context_spec.cr
  spec/std/spec/junit_formatter_spec.cr
  src/spec/context.cr
  src/spec/dsl.cr
  src/spec/expectations.cr
  src/spec/junit_formatter.cr
  src/spec/tap_formatter.cr
Labels: kind:refactor, topic:stdlib:specs

#11508 Restrict identifier grammar
  scripts/generate_unicode_data.cr
  spec/compiler/crystal/tools/format_spec.cr
  spec/compiler/lexer/lexer_spec.cr
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/lexer.cr
  src/unicode/data.cr
  src/unicode/unicode.cr
Labels: kind:bug, topic:compiler:parser, topic:lang

#11611 Add `Experimental` annotation to Grapheme API
  src/string/grapheme.cr
  src/string/grapheme/grapheme.cr
Labels: kind:feature, topic:stdlib:text

#11574 Define `LIBXML_STATIC` when building xml2.lib on Windows
  .github/workflows/win.yml
Labels: kind:bug, topic:infrastructure, platform:windows, topic:stdlib:serialization

#11623 Disable interpreter specs, as they're broken on master
  .github/workflows/linux.yml
Labels: kind:bug, topic:infrastructure, topic:compiler:interpreter

#11593 Improve performance of Char#to_s
  src/char.cr
Labels: performance, topic:stdlib:text

#11607 Compiler: use enums instead of symbols in various places
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/tools/table_print.cr
  src/compiler/crystal/types.cr
Labels: topic:compiler, kind:refactor

#11608 Refactor `PlaygroundPage` resources list
  src/compiler/crystal/tools/playground/server.cr
  src/compiler/crystal/tools/playground/views/layout.html.ecr
Labels: topic:tools:playground, kind:refactor

#11230 Reject near-boundary and NaN values for `Float`-to-`Int` conversions
  spec/primitives/float_spec.cr
  src/compiler/crystal/codegen/primitives.cr
Labels: kind:bug, topic:stdlib:numeric, topic:compiler:codegen

#11598 [CI] Remove `libatomic_ops`
  .circleci/config.yml
  shell.nix
Labels: topic:infrastructure

#11578 Split interpreter specs into separate files
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  spec/compiler/interpreter/autocast_spec.cr
  spec/compiler/interpreter/blocks_spec.cr
  spec/compiler/interpreter/bugs_spec.cr
  spec/compiler/interpreter/calls_spec.cr
  spec/compiler/interpreter/casts_spec.cr
  spec/compiler/interpreter/class_vars_spec.cr
  spec/compiler/interpreter/classes_spec.cr
  spec/compiler/interpreter/closures_spec.cr
  spec/compiler/interpreter/constants_spec.cr
  spec/compiler/interpreter/control_flow_spec.cr
  spec/compiler/interpreter/enum_spec.cr
  spec/compiler/interpreter/exceptions_spec.cr
  spec/compiler/interpreter/extern_spec.cr
  spec/compiler/interpreter/integration_spec.cr
  spec/compiler/interpreter/interpreter_spec.cr
  spec/compiler/interpreter/is_a_spec.cr
  spec/compiler/interpreter/multidispatch_spec.cr
  spec/compiler/interpreter/named_tuple_spec.cr
  spec/compiler/interpreter/pointers_spec.cr
  spec/compiler/interpreter/primitives_spec.cr
  spec/compiler/interpreter/procs_spec.cr
  spec/compiler/interpreter/responds_to_spec.cr
  spec/compiler/interpreter/sizeof_spec.cr
  spec/compiler/interpreter/spec_helper.cr
  spec/compiler/interpreter/special_vars_spec.cr
  spec/compiler/interpreter/structs_spec.cr
  spec/compiler/interpreter/symbol_spec.cr
  spec/compiler/interpreter/tuple_spec.cr
  spec/compiler/interpreter/typeof_spec.cr
  spec/compiler/interpreter/types_spec.cr
  spec/compiler/interpreter/unions_spec.cr
  spec/compiler/interpreter_spec.cr
Labels: kind:refactor, kind:specs, topic:compiler:interpreter

#11631 Fix `HTTP::Server::Response#close` when replaced output syncs close
  spec/std/http/server/response_spec.cr
  src/http/server/response.cr
Labels: kind:bug, topic:stdlib:networking, kind:regression

#11582 Mark bswap32 instrinsic with interpreter primitive annotation
  src/intrinsics.cr
Labels: kind:bug, topic:compiler:interpreter

#11624 Fix getrandom for interpreter
  src/crystal/system/unix/getrandom.cr
Labels: kind:bug, topic:stdlib:crypto, topic:compiler:interpreter

#11656 Fix `Array#unshift` for large arrays
  spec/std/array_spec.cr
  src/array.cr
Labels: kind:bug, topic:stdlib:collection, kind:regression
