Repository crystal-lang/crystal, pull requests merged in 2022-09, with the labels that each got.

#12231 Indent playground code using spaces
  src/compiler/crystal/tools/playground/public/session.js
Labels: kind:feature, topic:tools:playground

#12433 Compiler: avoid creating Set in merge_if_vars
  src/compiler/crystal/semantic/main_visitor.cr
Labels: topic:compiler, performance

#12438 Fix type restriction augmenter for `Union(*T)` and similar
  spec/compiler/semantic/restrictions_augmenter_spec.cr
  src/compiler/crystal/semantic/type_to_restriction.cr
Labels: kind:bug, topic:compiler:semantic, kind:regression

#12417 Compiler: simplify some calls
  src/compiler/crystal/interpreter/repl.cr
  src/compiler/crystal/semantic/literal_expander.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/method_missing.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/tools/formatter.cr
Labels: topic:compiler, kind:refactor

#12434 Do not check abstract def parameter names on abstract types and modules
  spec/compiler/semantic/warnings_spec.cr
  src/compiler/crystal/semantic/abstract_def_checker.cr
Labels: kind:bug, topic:compiler

#12402 Disallow mixing of sequential and named `sprintf` parameters
  spec/std/sprintf_spec.cr
  src/kernel.cr
  src/string/formatter.cr
Labels: kind:bug, kind:refactor, topic:stdlib:text

#12366 Hoist complex element expressions outside container literals
  spec/compiler/normalize/array_literal_spec.cr
  spec/compiler/normalize/hash_literal_spec.cr
  spec/spec_helper.cr
  src/compiler/crystal/semantic/literal_expander.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler

#12089 Add `Indexable#index!` overloads with `offset` parameter
  spec/std/indexable_spec.cr
  src/indexable.cr
Labels: kind:feature, topic:stdlib:collection

#12427 Warn on suffix-less integer literals outside `Int64`'s range
  spec/compiler/interpreter/primitives_spec.cr
  spec/compiler/macro/macro_methods_spec.cr
  spec/compiler/parser/warnings_spec.cr
  spec/compiler/semantic/warnings_spec.cr
  spec/spec_helper.cr
  spec/std/big/big_int_spec.cr
  spec/std/crystal/compiler_rt/ashlti3_spec.cr
  spec/std/crystal/compiler_rt/ashrti3_spec.cr
  spec/std/crystal/compiler_rt/divmod128_spec.cr
  spec/std/crystal/compiler_rt/lshrti3_spec.cr
  spec/std/crystal/compiler_rt/mulodi4_spec.cr
  spec/std/crystal/compiler_rt/muloti4_spec.cr
  spec/std/crystal/compiler_rt/multi3_spec.cr
  spec/std/float_printer/diy_fp_spec.cr
  spec/std/random_spec.cr
  spec/std/string_spec.cr
  spec/support/syntax.cr
  src/big/big_decimal.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/command/format.cr
  src/compiler/crystal/compiler.cr
  src/compiler/crystal/interpreter/prompt.cr
  src/compiler/crystal/interpreter/repl.cr
  src/compiler/crystal/macros/macros.cr
  src/compiler/crystal/macros/methods.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/semantic_visitor.cr
  src/compiler/crystal/syntax/exception.cr
  src/compiler/crystal/syntax/lexer.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/tools/formatter.cr
  src/compiler/crystal/tools/playground/server.cr
  src/int.cr
  src/string.cr
Labels: kind:feature, topic:compiler:parser

#12432 Compiler: micro-optimizations in `merge_if_vars`
  src/compiler/crystal/semantic/main_visitor.cr
Labels: topic:compiler, performance

#12441 Interpreter: set correct scope for class var initializer
  spec/compiler/interpreter/class_vars_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12443 Remove redundant code from x86_64 abi
  src/llvm/abi/x86_64.cr
Labels: kind:refactor, topic:compiler:codegen

#12444 Compiler/codegen: reset `@needs_value`
  spec/compiler/codegen/block_spec.cr
  src/compiler/crystal/codegen/call.cr
  src/compiler/crystal/codegen/class_var.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/codegen/const.cr
  src/compiler/crystal/codegen/primitives.cr
Labels: kind:bug, topic:compiler:codegen

#12446 Handle formatting annotated method parameters
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter, topic:lang:annotations

#12437 Compiler refactor: extract `type_from_dependencies`
  src/compiler/crystal/semantic/bindings.cr
Labels: topic:compiler, kind:refactor

#12436 Compiler: refactor and slightly optimize merging two types
  src/compiler/crystal/semantic/type_declaration_processor.cr
  src/compiler/crystal/semantic/type_guess_visitor.cr
  src/compiler/crystal/semantic/type_merge.cr
Labels: topic:compiler, performance, kind:refactor

#12405 Compiler: don't always use Array for node dependencies and observers
  spec/compiler/crystal/zero_one_or_many_spec.cr
  src/compiler/crystal/codegen/call.cr
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/interpreter/multidispatch.cr
  src/compiler/crystal/semantic/bindings.cr
  src/compiler/crystal/semantic/call.cr
  src/compiler/crystal/semantic/call_error.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
  src/compiler/crystal/semantic/cover.cr
  src/compiler/crystal/semantic/filters.cr
  src/compiler/crystal/semantic/fix_missing_types.cr
  src/compiler/crystal/semantic/lib.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/match.cr
  src/compiler/crystal/semantic/method_lookup.cr
  src/compiler/crystal/semantic/type_merge.cr
  src/compiler/crystal/semantic/warnings.cr
  src/compiler/crystal/tools/context.cr
  src/compiler/crystal/tools/implementations.cr
  src/compiler/crystal/zero_one_or_many.cr
Labels: performance, kind:refactor, topic:compiler:semantic

#12458 Release 1.5.1
  CHANGELOG.md
  src/VERSION
Labels: topic:infrastructure

#12445 Fix `homogeneous_aggregate?` check for aarch64 types
  spec/std/llvm/aarch64_spec.cr
  src/llvm/abi/aarch64.cr
Labels: kind:bug, platform:darwin, platform:aarch64

#12452 Compiler optimization: don't create call for hook unless needed
  src/compiler/crystal/semantic/top_level_visitor.cr
Labels: topic:compiler, performance

#12378 Formatter: try to format macros that don't interpolate content
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
  src/io/console.cr
  src/raise.cr
Labels: kind:feature, topic:tools:formatter

#12448 Support parameter numbers in `sprintf`
  spec/std/sprintf_spec.cr
  src/kernel.cr
  src/string/formatter.cr
Labels: kind:feature, topic:stdlib:text

#12460 Merge release 1.5.1 into master
  CHANGELOG.md
Labels: topic:infrastructure

#10492 Add `Socket::IPAddress.valid?`
  spec/std/socket/address_spec.cr
  src/socket/address.cr
Labels: kind:feature, topic:stdlib:networking

#12455 CrystalPath: Cache `Dir.current` to avoid thousands of allocations
  spec/compiler/crystal_path/crystal_path_spec.cr
  src/compiler/crystal/crystal_path.cr
Labels: topic:compiler, performance

#12462 Remove most uses of `Symbol` variables in standard library specs
  spec/std/array_spec.cr
  spec/std/deque_spec.cr
  spec/std/enumerable_spec.cr
  spec/std/hash_spec.cr
  spec/std/http/server/server_spec.cr
  spec/std/io/io_spec.cr
  spec/std/iterator_spec.cr
  spec/std/object_spec.cr
  spec/std/socket/unix_server_spec.cr
  spec/std/tuple_spec.cr
  spec/support/channel.cr
Labels: topic:stdlib, kind:specs

#11871 Use enum instead of symbols for keywords in the lexer
  spec/compiler/lexer/lexer_spec.cr
  src/compiler/crystal/syntax/lexer.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/syntax/token.cr
  src/compiler/crystal/tools/formatter.cr
  src/crystal/syntax_highlighter.cr
Labels: kind:refactor, topic:compiler:parser

#12447 Add support for Bcrypt algorithm version 2y
  spec/std/crypto/bcrypt/password_spec.cr
  src/crypto/bcrypt/password.cr
Labels: kind:feature, topic:stdlib:crypto

#11844 Don't show stacktrace when playground port is already in use.
  src/compiler/crystal/tools/playground/server.cr
Labels: kind:bug, topic:tools:playground

#12469 [RFC] Better call error messages
  spec/compiler/semantic/automatic_cast_spec.cr
  spec/compiler/semantic/c_struct_spec.cr
  spec/compiler/semantic/call_error_spec.cr
  spec/compiler/semantic/class_spec.cr
  spec/compiler/semantic/class_var_spec.cr
  spec/compiler/semantic/def_overload_spec.cr
  spec/compiler/semantic/def_spec.cr
  spec/compiler/semantic/enum_spec.cr
  spec/compiler/semantic/generic_class_spec.cr
  spec/compiler/semantic/module_spec.cr
  spec/compiler/semantic/named_args_spec.cr
  spec/compiler/semantic/named_tuple_spec.cr
  spec/compiler/semantic/proc_spec.cr
  spec/compiler/semantic/restrictions_spec.cr
  spec/compiler/semantic/splat_spec.cr
  spec/compiler/semantic/static_array_spec.cr
  spec/compiler/semantic/super_spec.cr
  src/compiler/crystal/semantic/call_error.cr
Labels: topic:compiler, kind:refactor

#12456 Use LibC.malloc instead of GC.malloc for LibPCRE allocations
  src/regex.cr
  src/regex/lib_pcre.cr
Labels: kind:refactor, topic:stdlib:text

#11900 Use `@[::Primitive]` and `@[::Flags]` where necessary
  src/crystal/elf.cr
  src/crystal/mach_o.cr
  src/file/info.cr
  src/http/web_socket/protocol.cr
  src/primitives.cr
Labels: topic:stdlib, kind:refactor, topic:lang:annotations

#10638 Allow non-type converter instances in `ArrayConverter` and `HashValueConverter`
  spec/std/json/serializable_spec.cr
  spec/std/yaml/serializable_spec.cr
  src/json/from_json.cr
  src/json/to_json.cr
  src/yaml/from_yaml.cr
  src/yaml/to_yaml.cr
Labels: kind:feature, kind:specs, topic:stdlib:serialization

#12466 Use instantiated type as `self` when inferring instance variable types
  spec/compiler/semantic/instance_var_spec.cr
  src/compiler/crystal/semantic/type_guess_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#10952 Codegen: use var pointer for `out` instead of an extra variable
  src/compiler/crystal/codegen/call.cr
Labels: kind:refactor, topic:compiler:codegen

#12471 Let `Dir.current` respect `$PWD`
  spec/std/dir_spec.cr
  src/crystal/system/unix/dir.cr
  src/dir.cr
Labels: kind:feature, topic:stdlib:system, platform:unix

#12479 Unicode: Update to version 15.0.0
  scripts/generate_grapheme_break_specs.cr
  scripts/generate_grapheme_properties.cr
  scripts/grapheme_properties.ecr
  spec/std/string/grapheme_break_spec.cr
  src/string/grapheme/grapheme.cr
  src/string/grapheme/properties.cr
  src/unicode/data.cr
  src/unicode/unicode.cr
Labels: kind:feature, topic:stdlib:text

#12482 Lexer: fix index out of bounds when scanning numbers
  spec/compiler/lexer/lexer_spec.cr
  src/compiler/crystal/syntax/lexer.cr
Labels: kind:bug, topic:compiler:parser, kind:regression

#11268 Fix parser to never create doc from trailing comment
  spec/compiler/crystal/tools/doc/method_spec.cr
  src/compiler/crystal/syntax/lexer.cr
Labels: kind:bug, topic:compiler:parser

#12496 Avoid free call in interpreted mode
  src/regex.cr
Labels: topic:stdlib:text, kind:regression, topic:compiler:interpreter

#12486 `bin/crystal`: Ensure `sh` compatibility
  bin/crystal
Labels: kind:bug, topic:infrastructure

#12485 Compiler optimization: avoid intermediate array when matching call arg types
  src/compiler/crystal/semantic/method_lookup.cr
Labels: topic:compiler, performance

#12492 Fix Colorize doc example
  src/colorize.cr
Labels: kind:bug, kind:docs, topic:stdlib:text

#12343 Fix docs error for File.match? `**` globbing pattern.
  src/file.cr
Labels: kind:bug, kind:docs, topic:stdlib:files

#9219 Update contact section of CODE of CONDUCT
  CODE_OF_CONDUCT.md
Labels: topic:infrastructure

#12498 Update nixpkgs 22.05 and LLVM 11
  shell.nix
  spec/std/kernel_spec.cr
Labels: topic:infrastructure

#12497 Fix: Parse DWARF5 Data16 values
  src/crystal/dwarf/info.cr
Labels: kind:bug, topic:stdlib:runtime

#11760 [Makefile] Use `EXPORT_CC` for `make crystal`
  Makefile
Labels: kind:feature, topic:infrastructure

#12502 Update distribution-scripts
  .circleci/config.yml
Labels: topic:infrastructure

#12500 [CI] Upgrade GitHub Actions to macos-11
  .github/workflows/macos.yml
Labels: topic:infrastructure, platform:darwin

#12507 Introduce `IO::DEFAULT_BUFFER_SIZE`
  spec/std/http/server/response_spec.cr
  spec/std/socket/unix_socket_spec.cr
  src/io.cr
  src/io/buffered.cr
Labels: kind:feature, performance, kind:refactor, topic:stdlib:files, topic:stdlib:networking

#12367 Add support for `IO::FileDescriptor` staying open on finalize
  spec/std/io/file_descriptor_spec.cr
  src/io/file_descriptor.cr
Labels: kind:feature, topic:stdlib:files

#11983 Parser: declare local vars of indirect type declarations in call args
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#10711 Use more robust ordering between def overloads
  spec/compiler/semantic/def_overload_spec.cr
  spec/compiler/semantic/double_splat_spec.cr
  spec/compiler/semantic/splat_spec.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/restrictions.cr
  src/compiler/crystal/tools/doc/method.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, breaking-change, topic:compiler:semantic

#11977 Allow using U/Int128 in random
  spec/std/random/secure_spec.cr
  spec/std/random_spec.cr
  src/random.cr
  src/random/secure.cr
Labels: kind:feature, topic:stdlib:crypto

#12409 Improve syntax highlighter
  spec/std/crystal/syntax_highlighter/colorize_spec.cr
  spec/std/crystal/syntax_highlighter/html_spec.cr
  src/crystal/syntax_highlighter.cr
  src/crystal/syntax_highlighter/colorize.cr
Labels: kind:bug, kind:feature, topic:stdlib

#12465 Fix `HTTP::Client#exec` to abort retry when client was closed
  spec/std/http/client/client_spec.cr
  src/http/client.cr
Labels: kind:bug, topic:stdlib:networking, kind:regression

#11935 Add 'wasm_import_module' option to the @[Link] annotation
  spec/compiler/semantic/lib_spec.cr
  src/compiler/crystal/codegen/fun.cr
  src/compiler/crystal/codegen/link.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/types.cr
Labels: kind:feature, topic:lang, topic:compiler:codegen, platform:wasm

#10412 Add `HTTP::Server::Response#redirect`
  spec/std/http/server/response_spec.cr
  src/http/server/handlers/static_file_handler.cr
  src/http/server/response.cr
Labels: kind:feature, topic:stdlib:networking

#12517 Revert "Add `HTTP::Server::Response#redirect`"
  spec/std/http/server/response_spec.cr
  src/http/server/handlers/static_file_handler.cr
  src/http/server/response.cr
Labels: kind:bug, topic:stdlib:networking, kind:regression

#12512 Interpreter (repl): use new MainVisitor each time we need to interpret code
  src/compiler/crystal/interpreter/interpreter.cr
  src/compiler/crystal/interpreter/repl.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:interpreter

#12504 macOS: Fix call stack when executable path contains symlinks
  src/exception/call_stack/mach_o.cr
Labels: kind:bug, topic:stdlib:runtime, platform:darwin

#12523 Fix restriction comparison between `Metaclass` and `Path`
  spec/compiler/semantic/restrictions_spec.cr
  src/compiler/crystal/semantic/restrictions.cr
Labels: kind:bug, topic:compiler:semantic, kind:regression

#12508 Fix test cases
  spec/compiler/parser/parser_spec.cr
Labels: topic:compiler:parser, kind:specs

#9803 Document how to change base type of an enum
  src/enum.cr
Labels: kind:docs, topic:stdlib:macros

#11976 Add U/Int128 to isqrt spec
  spec/std/math_spec.cr
Labels: kind:specs, topic:stdlib:numeric

#12450 WASM: Add support for `wasi-sdk 16`: don't rely on `__original_main`
  src/crystal/system/wasi/main.cr
Labels: kind:bug, topic:stdlib:runtime, platform:wasm

#12520 Interpreter: allow inspecting block vars without affecting program
  src/compiler/crystal/interpreter/interpreter.cr
Labels: kind:bug, topic:compiler:interpreter

#12527 Add warning about concurrent requests in `HTTP::Client`
  src/http/client.cr
Labels: kind:docs, topic:stdlib:networking

#12533 Interpreter: check upcast in nilable cast
  spec/compiler/interpreter/casts_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12537 Fix YAML serialization class name ambiguity
  spec/std/yaml/serializable_spec.cr
  src/yaml/serialization.cr
Labels: kind:bug, topic:stdlib:serialization

#12539 Fix specs with side effects
  spec/std/uri_spec.cr
Labels: kind:bug, kind:specs, topic:stdlib:networking

#12494 Add icon and metadata to Windows Crystal compiler binary
  Makefile.win
  src/compiler/crystal/tools/playground/public/favicon.ico
Labels: kind:feature, platform:windows

#12282 Remove `spec/win32_std_spec.cr`
  spec/std/llvm/x86_abi_spec.cr
  spec/std/signal_spec.cr
  spec/std/system/group_spec.cr
  spec/std/system/user_spec.cr
  spec/std/thread/condition_variable_spec.cr
  spec/std/thread/mutex_spec.cr
  spec/std/thread_spec.cr
  spec/std/va_list_spec.cr
  spec/std_spec.cr
  spec/win32_std_spec.cr
Labels: platform:windows, kind:specs
