Repository crystal-lang/crystal, pull requests merged in 2022-06, with the labels that each got.

#12077 Docs: Add more prominent note about path traversal in `File.tempfile`
  src/file/tempfile.cr
Labels: kind:docs, topic:stdlib:system

#10511 Fix `Hash#reject!` for non-equality key
  spec/std/hash_spec.cr
  src/hash.cr
Labels: kind:bug, topic:stdlib:collection

#12071 Fix formatter lib-fun declaration with newlines
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter

#12076 Fix check for null byte in `File#tempfile` args
  spec/std/file/tempfile_spec.cr
  src/crystal/system/unix/file.cr
Labels: kind:bug, security, topic:stdlib:system

#12086 Support unions in `Crystal::Macros::ASTNode#is_a?`
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros/interpreter.cr
  src/compiler/crystal/macros/types.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/syntax/ast.cr
Labels: kind:feature, kind:refactor, topic:lang:macros

#12101 Allow `Enumerable(Channel)` parameter for `Channel.send_first`, `.receive_first`
  src/channel.cr
Labels: kind:feature, topic:stdlib:concurrency

#12102 Support `Enumerable` as argument to `File.join`
  src/file.cr
Labels: kind:feature, topic:stdlib:system

#12073 Fix formatter alias-def with no-space before equals
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter

#11972 Fix formatter for parenthesized arg after space
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter, kind:regression

#12085 Document `Crystal::Macros::Self` and `Underscore`
  src/compiler/crystal/macros.cr
Labels: kind:docs, topic:stdlib:macros

#11993 Flush shift state for `String#encode`
  spec/std/string_spec.cr
  src/string.cr
Labels: kind:bug, topic:stdlib:text

#12104 [Docs] Adjust method sort order to sort all operators first
  spec/compiler/crystal/tools/doc/type_spec.cr
  src/compiler/crystal/tools/doc/type.cr
Labels: kind:feature, topic:tools:docs-generator

#12108 Handle invalid bytes in single-byte optimizable `String`s correctly
  spec/std/string_spec.cr
  src/string.cr
Labels: kind:bug, topic:stdlib:text

#12121 Compiler: simpler way to compute `Def#raises?`
  spec/compiler/semantic/exception_spec.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/call.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
  src/compiler/crystal/semantic/lib.cr
Labels: kind:refactor, topic:compiler:semantic

#12103 Experimental: restriction augmenter
  spec/compiler/semantic/class_var_spec.cr
  spec/compiler/semantic/restrictions_augmenter_spec.cr
  src/compiler/crystal/semantic.cr
  src/compiler/crystal/semantic/new.cr
  src/compiler/crystal/semantic/restrictions_augmenter.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/semantic/type_to_restriction.cr
Labels: kind:feature, topic:compiler

#12120 Remove unused `ASTNode#unbind_all`
  src/compiler/crystal/semantic/bindings.cr
Labels: kind:refactor, topic:compiler:semantic

#12116 Use LLVM's new pass manager when possible
  src/compiler/crystal/compiler.cr
  src/llvm.cr
  src/llvm/lib_llvm.cr
  src/llvm/pass_builder_options.cr
Labels: topic:compiler, performance

#12125 Fix: Don't stop on null byte in `String#%`
  spec/std/string_spec.cr
  src/string/formatter.cr
Labels: kind:bug, topic:stdlib:text

#12129 Compiler: fix proc return type restriction for Proc(...)
  spec/compiler/semantic/proc_spec.cr
  src/compiler/crystal/semantic/restrictions.cr
Labels: kind:bug, topic:compiler:semantic

#12057 Fix `Dir.glob` with multi components after recursive wildcard
  spec/std/dir_spec.cr
  src/dir/glob.cr
Labels: kind:bug, topic:stdlib:files

#11915 Warn on positional parameter mismatches for abstract def implementations
  spec/compiler/semantic/warnings_spec.cr
  src/compiler/crystal/semantic/abstract_def_checker.cr
  src/io/byte_format.cr
  src/io/hexdump.cr
  src/openssl/digest.cr
Labels: kind:feature, topic:stdlib, breaking-change, topic:compiler:semantic

#12136 Restriction augmenter: consider more types
  spec/compiler/semantic/restrictions_augmenter_spec.cr
  src/compiler/crystal/semantic/type_to_restriction.cr
Labels: kind:bug, topic:compiler:semantic

#12138 Compiler: don't use `with_scope` if Call has a receiver
  spec/compiler/semantic/method_missing_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#12143 Restriction augmenter: consider call expansions
  spec/compiler/semantic/restrictions_augmenter_spec.cr
  src/compiler/crystal/semantic/restrictions_augmenter.cr
Labels: kind:bug, topic:compiler:semantic

#12119 Improve the LLDB spec driver script
  spec/debug/blocks.cr
  spec/debug/driver.cr
  spec/debug/strings.cr
  spec/debug/test.sh
  spec/debug/top_level.cr
Labels: topic:compiler:debugger, kind:specs

#11884 Add specs for Windows directory separators in `StaticFileHandler` paths
  spec/std/data/static_file_handler/foo/bar.txt
  spec/std/http/server/handlers/static_file_handler_spec.cr
Labels: kind:specs, topic:stdlib:networking

#12044 Method/macro parameter annotation support
  spec/compiler/parser/parser_spec.cr
  spec/compiler/parser/to_s_spec.cr
  spec/compiler/semantic/annotation_spec.cr
  spec/support/syntax.cr
  src/compiler/crystal/macros.cr
  src/compiler/crystal/macros/methods.cr
  src/compiler/crystal/semantic/ast.cr
  src/compiler/crystal/semantic/to_s.cr
  src/compiler/crystal/semantic/top_level_visitor.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/syntax/to_s.cr
Labels: kind:feature, topic:stdlib:macros, topic:lang:annotations

#12141 Compiler: raise when allocating an abstract virtual type
  spec/compiler/codegen/struct_spec.cr
  spec/compiler/codegen/virtual_spec.cr
  spec/compiler/semantic/virtual_metaclass_spec.cr
  src/compiler/crystal/codegen/primitives.cr
  src/compiler/crystal/semantic/cleanup_transformer.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#12158 Fix positional parameter warnings in specs
  spec/std/indexable/mutable_spec.cr
  spec/std/indexable_spec.cr
  spec/std/io/memory_spec.cr
  spec/std/io/sized_spec.cr
  spec/std/json/serialization_spec.cr
Labels: kind:bug, kind:specs

#11872 Add specs for `String#char_bytesize_at`
  spec/std/string_spec.cr
Labels: kind:specs, topic:stdlib:text

#11773 Add Makefile for Windows
  Makefile
  Makefile.win
  bin/crystal.ps1
  samples/Makefile.win
  src/docs_main.cr
Labels: kind:feature, topic:infrastructure, platform:windows

#12163 Interpreter: fix cast from virtual metaclass to union
  spec/compiler/interpreter/casts_spec.cr
  src/compiler/crystal/interpreter/cast.cr
Labels: kind:bug, topic:compiler:interpreter

#12149 Windows: Event loop based on IOCP
  spec/std/concurrent/select_spec.cr
  spec/std/socket/tcp_socket_spec.cr
  spec/std/socket/unix_server_spec.cr
  spec/std/socket/unix_socket_spec.cr
  spec/win32_std_spec.cr
  src/crystal/system/win32/event_loop_iocp.cr
  src/crystal/system/win32/socket.cr
  src/io/overlapped.cr
  src/lib_c/x86_64-windows-msvc/c/ioapiset.cr
Labels: kind:feature, topic:stdlib:concurrency, platform:windows

#12165 Interpreter: allow inspect vars when inside a block
  src/compiler/crystal/interpreter/compiled_block.cr
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/interpreter/disassembler.cr
  src/compiler/crystal/interpreter/interpreter.cr
  src/compiler/crystal/interpreter/local_vars.cr
  src/compiler/crystal/interpreter/local_vars_gatherer.cr
Labels: kind:bug, topic:compiler:interpreter

#12155 Update distribution-scripts
  .circleci/config.yml
Labels: topic:infrastructure

#12156 Add `update-distributions-scripts.sh`
  scripts/update-distribution-scripts.sh
Labels: topic:infrastructure

#12173 Ignore `pax_global_header` on Windows CI
  .github/workflows/win.yml
Labels: topic:infrastructure
