Repository crystal-lang/crystal, pull requests merged in 2022-07, with the labels that each got.

#12169 Interpreter: let pry see closured vars
  src/compiler/crystal/interpreter/closure_context.cr
  src/compiler/crystal/interpreter/compiled_block.cr
  src/compiler/crystal/interpreter/compiled_def.cr
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/interpreter/context.cr
  src/compiler/crystal/interpreter/interpreter.cr
Labels: kind:bug, topic:compiler:interpreter

#12182 Interpreter: fix caller
  spec/compiler/interpreter/integration_spec.cr
  src/exception/call_stack/interpreter.cr
Labels: kind:bug, topic:compiler:interpreter

#12184 Mention `#value` explicitly in `Pointer` overview.
  src/pointer.cr
Labels: kind:docs, topic:stdlib:runtime

#12188 Playground: fix `modalContenDom` typo
  src/compiler/crystal/tools/playground/public/session.js
Labels: topic:tools:playground, kind:regression

#12186 Always use `GC_set_stackbottom` on Windows
  spec/std/concurrent/select_spec.cr
  src/gc/boehm.cr
Labels: kind:bug, topic:stdlib:concurrency, platform:windows, topic:stdlib:runtime

#12189 Interpreter: fix instance var offset of virtual struct
  spec/compiler/interpreter/structs_spec.cr
  src/compiler/crystal/interpreter/context.cr
Labels: kind:bug, topic:compiler:interpreter

#12179 Interpreter: handle explicit return when method type is Nil
  spec/compiler/interpreter/control_flow_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12175 Fix `\{{...}}` syntax in macro inside comments
  spec/compiler/lexer/lexer_macro_spec.cr
  src/compiler/crystal/syntax/lexer.cr
Labels: kind:bug, topic:lang:macros

#12201 Add missing `EXPORT` in interpreter spec
  spec/compiler/data/interpreter/sum.c
Labels: kind:specs, kind:regression

#12183 Compiler: don't check ivar read forms a closure in exp.@x
  spec/compiler/codegen/class_spec.cr
  src/compiler/crystal/semantic/bindings.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#11814 [CI] Add build compiler step to smoke tests
  .github/workflows/smoke.yml
Labels: topic:infrastructure

#12207 Crystal::Loader: don't check if file exists, leave that to dlopen
  src/compiler/crystal/loader.cr
Labels: kind:bug, topic:compiler:interpreter

#12194 Interpreter: fix call receiver by value from VirtualType struct
  spec/compiler/interpreter/structs_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12174 Interpreter: clear finished hooks after intepreting
  src/compiler/crystal/interpreter/interpreter.cr
Labels: kind:bug, topic:compiler:interpreter

#12192 Fix FFI bindings for libffi >= 3.4
  src/compiler/crystal/ffi/closure.cr
  src/compiler/crystal/ffi/lib_ffi.cr
Labels: kind:bug, topic:compiler:interpreter

#12211 Interpreter: handle escaping exceptions in pry
  src/compiler/crystal/interpreter/interpreter.cr
Labels: kind:bug, topic:compiler:interpreter

#12220 Interpreter: handle the case of a def's body with no type
  spec/compiler/interpreter/responds_to_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12222 Interpreter: simplify ivar initialization
  spec/compiler/interpreter/autocast_spec.cr
  src/compiler/crystal/interpreter/context.cr
Labels: kind:bug, topic:compiler:interpreter

#12223 Interpreter: fix autocasting in multidispatch
  spec/compiler/interpreter/autocast_spec.cr
  src/compiler/crystal/interpreter/multidispatch.cr
Labels: kind:bug, topic:compiler:interpreter

#12230 Don't exit in interpreter spec & Change type from nil to NoReturn in FixMissingTypes
  spec/compiler/interpreter/responds_to_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/semantic/fix_missing_types.cr
Labels: kind:bug, topic:compiler:interpreter

#12236 Interpreter: fix multidispatch with captured block
  spec/compiler/interpreter/multidispatch_spec.cr
  src/compiler/crystal/interpreter/multidispatch.cr
Labels: kind:bug, topic:compiler:interpreter

#12237 Interpreter: handle `next` inside captured block
  spec/compiler/interpreter/closures_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12246 Interpreter: fix crystal_type_id for virtual metaclass type
  spec/compiler/interpreter/types_spec.cr
  src/compiler/crystal/interpreter/primitives.cr
Labels: kind:bug, topic:compiler:interpreter

#12252 Interpreter: don't change compiled mode logic
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/semantic/fix_missing_types.cr
Labels: kind:bug, topic:compiler:interpreter

#12263 bumping version 1.6.0-dev
  src/VERSION
Labels: topic:infrastructure

#12247 Interpreter: handle yield with splat combined with tuple unpacking
  spec/compiler/interpreter/blocks_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12240 Interpreter: let local vars be seen by macros in repl and pry
  src/compiler/crystal/interpreter/interpreter.cr
  src/compiler/crystal/semantic.cr
  src/compiler/crystal/semantic/semantic_visitor.cr
Labels: kind:feature, topic:compiler:interpreter

#12239 Interpreter: handle local variable type declaration
  spec/compiler/interpreter/primitives_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:feature, topic:compiler:interpreter

#12259 Interpreter: handle inlined call that returns self for structs
  spec/compiler/interpreter/structs_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12257 Interpreter: fix some conversion primitives
  src/compiler/crystal/interpreter/instructions.cr
  src/compiler/crystal/interpreter/primitives.cr
Labels: kind:bug, topic:compiler:interpreter

#12251 Interpreter: don't override special vars inside block
  spec/compiler/interpreter/special_vars_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12180 Interpreter: allow declaring local vars during a pry session
  src/compiler/crystal/interpreter/interpreter.cr
Labels: kind:bug, kind:feature, topic:compiler:interpreter

#12260 updating CI to 1.5.0
  .circleci/config.yml
  .github/workflows/linux.yml
  .github/workflows/openssl.yml
  .github/workflows/win.yml
  bin/ci
  shell.nix
Labels: topic:infrastructure

#11991 Add `Dir#info`
  spec/std/dir_spec.cr
  src/crystal/system/unix/dir.cr
  src/crystal/system/unix/file_descriptor.cr
  src/crystal/system/wasi/dir.cr
  src/crystal/system/wasi/file_descriptor.cr
  src/crystal/system/win32/dir.cr
  src/crystal/system/win32/file_descriptor.cr
  src/dir.cr
  src/lib_c/aarch64-darwin/c/dirent.cr
  src/lib_c/aarch64-linux-gnu/c/dirent.cr
  src/lib_c/aarch64-linux-musl/c/dirent.cr
  src/lib_c/arm-linux-gnueabihf/c/dirent.cr
  src/lib_c/i386-linux-gnu/c/dirent.cr
  src/lib_c/i386-linux-musl/c/dirent.cr
  src/lib_c/x86_64-darwin/c/dirent.cr
  src/lib_c/x86_64-dragonfly/c/dirent.cr
  src/lib_c/x86_64-freebsd/c/dirent.cr
  src/lib_c/x86_64-linux-gnu/c/dirent.cr
  src/lib_c/x86_64-linux-musl/c/dirent.cr
  src/lib_c/x86_64-netbsd/c/dirent.cr
  src/lib_c/x86_64-openbsd/c/dirent.cr
Labels: kind:feature, topic:stdlib:files

#12008 Refactor and improve `NamedTuple` deserialization from JSON and YAML
  spec/std/json/serialization_spec.cr
  spec/std/yaml/serialization_spec.cr
  src/json/from_json.cr
  src/named_tuple.cr
  src/yaml/from_yaml.cr
Labels: kind:bug, kind:refactor, topic:stdlib:collection, topic:stdlib:serialization

#12026 Add fish shell completion
  Makefile
  etc/completion.fish
Labels: kind:feature, topic:infrastructure

#12200 Support libffi on Windows
  .github/workflows/win.yml
  spec/compiler/ffi/ffi_spec.cr
Labels: kind:feature, topic:infrastructure, platform:windows, topic:compiler:interpreter

#12196 Remove redundant conditional
  src/compiler/crystal/syntax/parser.cr
Labels: kind:refactor, topic:compiler:parser

#12248 Execute `compopt` only when it's present
  etc/completion.bash
Labels: topic:infrastructure

#12264 bumping xcode to 13.4.1
  .circleci/config.yml
Labels: topic:infrastructure

#12272 Compiler: don't eagerly check cast type
  spec/compiler/semantic/cast_spec.cr
  src/compiler/crystal/semantic/bindings.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:semantic

#12273 Interpreter: handle bitreverse intrinsics
  src/compiler/crystal/interpreter/instructions.cr
  src/compiler/crystal/interpreter/primitives.cr
  src/intrinsics.cr
Labels: kind:bug, topic:compiler:interpreter

#12285 Interpreter: cache methods with captured block
  spec/compiler/interpreter/blocks_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12286 Interpreter: missing downcast from MixedUnionType to NilableProcType
  spec/compiler/interpreter/casts_spec.cr
  src/compiler/crystal/interpreter/cast.cr
Labels: kind:bug, topic:compiler:interpreter

#12287 Interpreter: node override
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:feature, topic:compiler:interpreter

#12281 Enable miscellaneous parts of the standard library on Windows
  src/crystal/scheduler.cr
  src/file/tempfile.cr
  src/http.cr
  src/kernel.cr
Labels: kind:feature, topic:stdlib, platform:windows

#12301 Interpreter: fix `with ... yield` with extra arguments
  spec/compiler/interpreter/blocks_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12275 Interpreter: consider nodes without a type as NoReturn
  spec/compiler/interpreter/blocks_spec.cr
  src/compiler/crystal/interpreter/cast.cr
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/interpreter/context.cr
Labels: kind:bug, topic:compiler:interpreter

#12300 Fix fiber clean loop on Windows
  src/crystal/system/win32/fiber.cr
Labels: kind:bug, topic:stdlib:concurrency, platform:windows

#12280 Use `Slice#unsafe_slice_of` and `#to_unsafe_bytes` in the standard library and compiler
  spec/std/io/memory_spec.cr
  spec/support/string.cr
  src/compiler/crystal/compiler.cr
  src/crystal/hasher.cr
  src/crystal/system/win32/windows_registry.cr
Labels: kind:refactor, topic:stdlib:collection

#12306 Compiler and interpreter: fix is_a? from virtual metaclass to generic metaclass
  spec/compiler/interpreter/types_spec.cr
  spec/compiler/semantic/is_a_spec.cr
  src/compiler/crystal/interpreter/cast.cr
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/semantic/type_intersect.cr
Labels: kind:bug, topic:compiler:semantic, topic:compiler:interpreter

#12312 Compiler: fix is_a? from generic class against generic class instance type
  spec/compiler/codegen/is_a_spec.cr
  src/compiler/crystal/semantic/type_intersect.cr
Labels: kind:bug, topic:compiler:semantic, topic:compiler:interpreter

#12317 Interpreter: take `with ... yield` scope into account for args bytesize
  spec/compiler/interpreter/blocks_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12315 Add missing fields to `LibC::Passwd` on FreeBSD
  src/lib_c/x86_64-freebsd/c/pwd.cr
Labels: kind:bug, topic:stdlib:system, platform:freebsd

#12319 Formatter: Fix assign followed by comment
  spec/compiler/formatter/formatter_spec.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:bug, topic:tools:formatter

#12307 Add `#rotate_left` and `#rotate_right` for primitive integers
  spec/std/int_spec.cr
  src/bit_array.cr
  src/compiler/crystal/interpreter/instructions.cr
  src/compiler/crystal/interpreter/primitives.cr
  src/crystal/digest/md5.cr
  src/crystal/digest/sha1.cr
  src/crystal/hasher.cr
  src/int.cr
  src/intrinsics.cr
  src/random/pcg32.cr
Labels: kind:feature, performance, topic:stdlib:numeric

#12324 Fix `IO.pipe` spec on FreeBSD
  spec/std/io/io_spec.cr
Labels: kind:bug, kind:specs, topic:stdlib:files, platform:freebsd

#12323 Fix loader spec on FreeBSD
  spec/compiler/loader/unix_spec.cr
Labels: kind:bug, kind:specs, platform:freebsd, topic:compiler:interpreter

#12310 HTTP::StaticFileHandler: Reduce max stat calls from 6 to 2
  src/http/server/handlers/static_file_handler.cr
Labels: kind:refactor, topic:stdlib:networking

#12321 Interpreter: inline ivar access for virtual call with a single child
  spec/compiler/interpreter/classes_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12328 Interpreter: fix `as?` when there's no resulting type
  spec/compiler/interpreter/casts_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#12335 Allow `Union` restrictions to be ordered before all other restrictions
  spec/compiler/semantic/restrictions_spec.cr
  src/compiler/crystal/semantic/restrictions.cr
Labels: kind:bug, topic:compiler:semantic

#12334 Enhance `record` documentation
  src/macros.cr
Labels: kind:docs, topic:stdlib:macros
