Repository crystal-lang/crystal, pull requests merged in 2023-09, with the labels that each got.

#13781 Avoid realloc callstack array when unwinding
  src/exception/call_stack/libunwind.cr
Labels: performance, topic:stdlib:runtime

#13768 Fix `Process.new` with nilable chdir parameter on Windows
  spec/std/process_spec.cr
  src/crystal/system/win32/process.cr
Labels: kind:bug, platform:windows, topic:stdlib:system

#13785 Fix memory leak in `OpenSSL::SSL::Socket#peer_certificate`
  src/openssl/ssl/socket.cr
Labels: performance, topic:stdlib:crypto

#13774 Mark the return type of methods such as `Slice#copy_to` as `Nil`
  src/slice.cr
Labels: breaking-change, topic:stdlib:collection

#13778 Add types to HTTP::StaticFileHandler
  src/http/server/handlers/static_file_handler.cr
Labels: kind:refactor, topic:stdlib:networking, deprecation

#13728 Fix error message when parsing unknown JSON enum value
  spec/std/json/serialization_spec.cr
  src/json/from_json.cr
Labels: kind:bug, topic:stdlib:serialization

#13796 Fix docs for `Digest::SHA512`
  src/digest/sha512.cr
Labels: kind:bug, kind:docs, topic:stdlib:crypto

#13795 Document `Dir#mkdir`, `Dir#exists?`
  src/dir.cr
Labels: kind:docs, topic:stdlib:files

#13789 Fix end location for `FunDef`
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#13807 Optimize the constructors of `Time::Span`
  spec/std/time/span_spec.cr
  src/time/span.cr
Labels: performance, kind:refactor, topic:stdlib:time

#13798 Add overloads for `URI::Params.encode` with `IO` parameter
  spec/std/uri/params_spec.cr
  src/uri/params.cr
Labels: kind:feature, topic:stdlib:networking

#13776 Update distribution-scripts
  .circleci/config.yml
Labels: topic:infrastructure

#13737 Remove overflowing `Float#to_u!` interpreter primitive specs
  spec/compiler/interpreter/primitives_spec.cr
Labels: kind:bug, kind:specs, topic:stdlib:numeric, topic:compiler:interpreter

#13780 Avoid double file buffering
  src/crystal/system/unix/getrandom.cr
  src/digest/digest.cr
  src/file.cr
Labels: performance, topic:stdlib:files

#13771 Fix YAML scalar type validation error message
  spec/std/yaml/serializable_spec.cr
  src/yaml/from_yaml.cr
Labels: kind:bug, topic:stdlib:numeric, topic:stdlib:serialization

#13819 Add `String#byte_index(Char)`
  spec/std/string_spec.cr
  src/string.cr
Labels: kind:feature, topic:stdlib:text

#13700 infra(make): Add `generate_data` target for running generator scripts
  Makefile
  Makefile.win
Labels: topic:infrastructure

#13817 Fix `Char::Reader#each` bounds check after block
  spec/std/char/reader_spec.cr
  src/char/reader.cr
Labels: kind:bug, topic:stdlib:text

#13716 Experimental: Add `Slice.literal` for numeric slice constants
  spec/compiler/semantic/primitives_spec.cr
  spec/primitives/slice_spec.cr
  src/compiler/crystal/codegen/codegen.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/main_visitor.cr
  src/primitives.cr
Labels: kind:feature, topic:compiler, topic:stdlib:collection, experimental

#13813 Fix block parameter unpacking inside macros
  spec/compiler/codegen/macro_spec.cr
  spec/compiler/semantic/macro_spec.cr
  spec/spec_helper.cr
  src/compiler/crystal/macros/interpreter.cr
  src/compiler/crystal/semantic/normalizer.cr
  src/compiler/crystal/syntax/transformer.cr
Labels: kind:bug, topic:lang:macros, kind:regression

#13730 Fix shard crystal version in `crystal init`
  spec/compiler/crystal/tools/init_spec.cr
  src/compiler/crystal/tools/init/template/shard.yml.ecr
Labels: kind:bug, topic:tools:init

#13827 Allow word breaks between module names in docs
  src/compiler/crystal/tools/doc/html/type.html
Labels: kind:bug, topic:tools:docs-generator

#13829 Fix incorrect overflow in `UInt64.from_yaml`
  spec/std/yaml/serializable_spec.cr
  spec/std/yaml/serialization_spec.cr
  src/yaml/from_yaml.cr
  src/yaml/schema/core.cr
Labels: kind:bug, topic:stdlib:serialization

#13822 Add CSS for tables
  src/compiler/crystal/tools/doc/html/css/style.css
Labels: kind:feature, topic:tools:docs-generator

#13835 Update specs for `Int::Primitive.from_json`
  spec/std/json/serialization_spec.cr
Labels: kind:specs, topic:stdlib:numeric, topic:stdlib:serialization

#13834 Support YAML deserialization of 128-bit integers
  spec/std/yaml/serialization_spec.cr
  src/yaml/from_yaml.cr
Labels: kind:feature, topic:stdlib:numeric, topic:stdlib:serialization

#13837 Support 128-bit integers in `JSON::PullParser#read?`
  spec/std/json/pull_parser_spec.cr
  spec/std/json/serialization_spec.cr
  src/json/from_json.cr
  src/json/pull_parser.cr
Labels: kind:feature, topic:stdlib:numeric, topic:stdlib:serialization

#13838 Add `Complex#to_i128`, `Complex#to_u128`
  spec/std/complex_spec.cr
  src/complex.cr
Labels: kind:feature, topic:stdlib:numeric

#13783 Add `tool unreachable`
  man/crystal.1
  spec/compiler/crystal/tools/unreachable_spec.cr
  src/compiler/crystal/command.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/syntax/location.cr
  src/compiler/crystal/tools/unreachable.cr
Labels: kind:feature, topic:tools

#13631 Feature: Add `crystal tool dependencies`
  etc/completion.bash
  etc/completion.fish
  etc/completion.zsh
  man/crystal.1
  src/compiler/crystal/command.cr
  src/compiler/crystal/compiler.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/semantic_visitor.cr
  src/compiler/crystal/tools/dependencies.cr
Labels: kind:feature, topic:tools:dependencies

#13840 Fix docs dark mode dropdown background on blink
  src/compiler/crystal/tools/doc/html/css/style.css
Labels: kind:bug, topic:tools:docs-generator

#13843 Minor fixup for `HTML.decode_codepoint`
  src/html.cr
Labels: kind:bug, topic:stdlib:text

#13845 [CI] Refactor `crystal_bootstrap_version`
  .github/workflows/linux.yml
Labels: topic:infrastructure/ci
