Repository crystal-lang/crystal, pull requests merged in 2025-09, with the labels that each got.

#16126 Fix typo in Makefile comment
  Makefile
Labels: topic:infrastructure

#16115 Add `#has_any_args?` method for `ASTNode`s
  src/compiler/crystal/semantic/main_visitor.cr
  src/compiler/crystal/semantic/new.cr
  src/compiler/crystal/syntax/ast.cr
  src/compiler/crystal/syntax/parser.cr
  src/compiler/crystal/syntax/to_s.cr
  src/compiler/crystal/tools/formatter.cr
Labels: kind:refactor, topic:compiler:parser

#16080 Add note about default constructor in `*::Serializable`
  src/json/serialization.cr
  src/uri/params/serializable.cr
  src/yaml/serialization.cr
Labels: kind:docs, topic:stdlib:serialization

#16122 Group temporary variables by file name: compound array assignments
  spec/compiler/normalize/op_assign_spec.cr
  spec/spec_helper.cr
  src/compiler/crystal/program.cr
  src/compiler/crystal/semantic/literal_expander.cr
  src/compiler/crystal/semantic/normalizer.cr
Labels: performance, topic:compiler:codegen

#16146 Disable flaky spec for `Fiber::ExecutionContext::GlobalQueue` on macOS
  spec/std/fiber/execution_context/global_queue_spec.cr
Labels: topic:multithreading, kind:chore

#16147 Move `*::Serializable`'s private constructors into `macro included` hook
  spec/std/json/serializable_spec.cr
  spec/std/uri/params/serializable_spec.cr
  spec/std/yaml/serializable_spec.cr
  src/json/serialization.cr
  src/uri/params/serializable.cr
  src/yaml/serialization.cr
Labels: kind:bug, topic:stdlib:serialization

#16154 Add `ArrayLiteral#*` and `StringLiteral#*`
  spec/compiler/macro/macro_methods_spec.cr
  src/compiler/crystal/macros.cr
  src/compiler/crystal/macros/methods.cr
Labels: kind:feature, topic:lang:macros

#16155 Fix: `Fiber::ExecutionContext::Parallel::Scheduler#tick` must be unsigned
  src/fiber/execution_context/parallel/scheduler.cr
Labels: kind:bug, topic:multithreading

#16149 Improve `Fiber::ExecutionContext.default_workers_count`
  src/fiber/execution_context.cr
Labels: kind:feature, topic:multithreading

#16161 Correctly reference global JSON/YAML modules
  spec/std/json/serializable_spec.cr
  spec/std/yaml/serializable_spec.cr
  src/json/serialization.cr
  src/yaml/serialization.cr
Labels: kind:bug, topic:stdlib:serialization

#16164 Fix `URI#host=` to wrap IPv6 address in brackets
  spec/std/uri_spec.cr
  src/uri.cr
Labels: kind:feature, topic:stdlib:networking

#16171 fully exit the process on exit! from repl
  src/compiler/crystal/interpreter/repl.cr
Labels: kind:feature, topic:compiler:interpreter:repl
