Repository crystal-lang/crystal, pull requests merged in 2025-08, with the labels that each got.

#16043 Avoid deprecation warnings in `File` and `TCPSocket` constructors [fixup #16034]
  src/file.cr
  src/socket/tcp_socket.cr
Labels: topic:stdlib:files

#16033 Add `.set_blocking` to `Socket` and `IO::FileDescriptor` and deprecate `#blocking` property
  spec/std/io/file_descriptor_spec.cr
  spec/std/socket/socket_spec.cr
  src/crystal/system/unix/file_descriptor.cr
  src/crystal/system/unix/process.cr
  src/crystal/system/unix/socket.cr
  src/crystal/system/wasi/file_descriptor.cr
  src/crystal/system/wasi/socket.cr
  src/crystal/system/win32/file_descriptor.cr
  src/crystal/system/win32/socket.cr
  src/io/file_descriptor.cr
  src/process.cr
  src/socket.cr
Labels: kind:feature, topic:stdlib:files, topic:stdlib:networking, deprecation

#16045 Continue REPL prompt if input consists entirely of annotations
  src/compiler/crystal/interpreter/repl_reader.cr
Labels: kind:feature, topic:lang:annotations, topic:compiler:interpreter:repl

#16046 Disallow unterminated escaped heredoc without trailing newline
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/lexer.cr
Labels: kind:bug, topic:compiler:parser

#16044 Support `Proc.new(Void*, Void*)` in the interpreter
  spec/std/http/client/client_spec.cr
  spec/std/http/server/server_spec.cr
  spec/std/http/web_socket_spec.cr
  spec/std/io/io_spec.cr
  spec/std/oauth2/client_spec.cr
  spec/std/openssl/ssl/server_spec.cr
  spec/std/openssl/ssl/socket_spec.cr
  spec/std/socket/socket_spec.cr
  spec/std/socket/tcp_socket_spec.cr
  spec/std/socket/unix_server_spec.cr
  spec/std/socket/unix_socket_spec.cr
  src/compiler/crystal/interpreter/compiler.cr
  src/compiler/crystal/interpreter/context.cr
  src/compiler/crystal/interpreter/instructions.cr
  src/compiler/crystal/interpreter/interpreter.cr
  src/compiler/crystal/interpreter/lib_function.cr
  src/compiler/crystal/interpreter/primitives.cr
  src/crystal/system/win32/iocp.cr
  src/proc.cr
Labels: kind:feature, topic:compiler:interpreter

#16055 Fix pointer access bug in `XML::NodeSet`
  spec/std/xml/xpath_spec.cr
  src/xml/node_set.cr
Labels: kind:bug, topic:stdlib:serialization

#16050 Deprecate `Float::Printer::IEEE`
  src/float/printer.cr
  src/float/printer/ieee.cr
Labels: topic:stdlib:numeric, deprecation, kind:chore

#16041 Improve docs for `Time#to_local_in`
  src/time.cr
Labels: kind:docs, topic:stdlib:time

#16060 Add `Set#select!` and `#reject!`
  spec/std/set_spec.cr
  src/set.cr
Labels: kind:feature, topic:stdlib:collection

#16058 Interpreter: never generate assignments to a block's underscore parameters
  spec/compiler/interpreter/blocks_spec.cr
  src/compiler/crystal/interpreter/cast.cr
  src/compiler/crystal/interpreter/compiler.cr
Labels: kind:bug, topic:compiler:interpreter

#16063 Lazily instantiate the event loop of isolated execution contexts
  src/fiber/execution_context/isolated.cr
Labels: kind:feature, topic:multithreading

#16077 Fix `StaticFileHandler` spec with broken symlink [fixup #16025]
  spec/std/data/static_file_handler/broken-symlink.txt
  spec/std/http/server/handlers/static_file_handler_spec.cr
Labels: kind:specs, topic:stdlib:networking

#16076 Do not use equality checks in `Int#upto` and `#downto`
  src/int.cr
Labels: performance, topic:stdlib:numeric

#16073 Fix `IO::TimeoutError` documentation use of deprecated `read_timeout=`
  src/io/error.cr
Labels: kind:docs, topic:stdlib:files

#13375 Require space, semicolon, or newline after class/module/etc. header
  spec/compiler/parser/parser_spec.cr
  src/compiler/crystal/syntax/parser.cr
Labels: kind:bug, topic:compiler:parser

#14716 Enable specs for `close_on_exec` on Windows
  spec/std/io/file_descriptor_spec.cr
  spec/std/socket/socket_spec.cr
  spec/std/socket/spec_helper.cr
  spec/std/socket/tcp_server_spec.cr
  spec/std/socket/unix_server_spec.cr
Labels: kind:specs, topic:stdlib:system

#16078 Fix time zone identifier `America/Argentina/Buenos_Aires`
  spec/std/time/format_spec.cr
  spec/std/time/location_spec.cr
  spec/std/time/time_spec.cr
  src/time.cr
Labels: kind:bug, topic:stdlib:time

#16082 Style `test_c` codegen specs using heredocs
  spec/compiler/codegen/c_abi/c_abi_spec.cr
  spec/compiler/codegen/extern_spec.cr
  spec/compiler/codegen/lib_spec.cr
  spec/compiler/codegen/pointer_spec.cr
  spec/compiler/codegen/primitives_spec.cr
  spec/spec_helper.cr
Labels: kind:refactor, kind:specs, topic:compiler:codegen

#10839 Resolve bound type parameters from generic superclass during path lookup
  spec/compiler/codegen/generic_class_spec.cr
  spec/compiler/semantic/generic_class_spec.cr
  src/compiler/crystal/semantic/path_lookup.cr
  src/compiler/crystal/types.cr
Labels: kind:bug, topic:compiler:semantic

#16021 Simplify buffer for `File.readlink`
  src/crystal/system/unix/file.cr
Labels: performance, kind:refactor, topic:stdlib:system

#16083 Use `<<-CRYSTAL` in compiler specs consistently
  spec/compiler/crystal/tools/macro_code_coverage_spec.cr
  spec/compiler/normalize/block_spec.cr
  spec/compiler/parser/parser_spec.cr
  spec/compiler/parser/to_s_spec.cr
  spec/compiler/semantic/block_spec.cr
  spec/compiler/semantic/class_spec.cr
  spec/compiler/semantic/module_spec.cr
  spec/compiler/semantic/restrictions_spec.cr
Labels: topic:compiler, kind:refactor, kind:specs

#15698 Add type restrictions to io
  src/io.cr
  src/io/buffered.cr
  src/io/delimited.cr
  src/io/encoding.cr
  src/io/file_descriptor.cr
  src/io/memory.cr
Labels: kind:docs, topic:stdlib:files

#16096 Revert "Makefile: Refactor `DEPS` to avoid static evaluation of `LLVM_CONFIG`"
  Makefile
Labels: topic:infrastructure, status:reverted

#16089 Support `ProcPointer`s of lib funs with parameter types
  spec/compiler/codegen/proc_spec.cr
  spec/compiler/semantic/proc_spec.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:feature, topic:lang

#16086 Move `crystal_path_spec` fixtures to `spec/compiler/data`
  spec/compiler/crystal_path/crystal_path_spec.cr
  spec/compiler/data/crystal_path/foo.cr/foo.cr
  spec/compiler/data/crystal_path/other_test_files/other_test_files.cr
  spec/compiler/data/crystal_path/simple.cr
  spec/compiler/data/crystal_path/test_files/file_one.cr
  spec/compiler/data/crystal_path/test_files/file_two.cr
  spec/compiler/data/crystal_path/test_files/src/file_three.cr
  spec/compiler/data/crystal_path/test_files/src/test_files.cr
  spec/compiler/data/crystal_path/test_files/src/test_files/another/another.cr
  spec/compiler/data/crystal_path/test_files/src/test_files/file_four.cr
  spec/compiler/data/crystal_path/test_files/src/yet_another/yet_another.cr
  spec/compiler/data/crystal_path/test_files/test_folder/file_three.cr
  spec/compiler/data/crystal_path/test_files/test_folder/not_a_crystal_file.txt
  spec/compiler/data/crystal_path/test_files/test_folder/test_folder.cr
Labels: topic:compiler:semantic, kind:specs

#16108 Expand empty `(Named)TupleLiteral` to `(Named)Tuple.new` instead of `{}`
  spec/compiler/macro/macro_expander_spec.cr
  spec/compiler/normalize/def_spec.cr
  src/compiler/crystal/syntax/to_s.cr
Labels: kind:feature, topic:stdlib:collection

#16106 Extract specs for `HTTP::Cookies` to their own file
  spec/std/http/cookie_spec.cr
  spec/std/http/cookies_spec.cr
Labels: kind:specs, topic:stdlib:networking

#16107 Reorder implementation of `HTTP::Cookies#<<` and `[]=`
  src/http/cookies.cr
Labels: kind:refactor, topic:stdlib:networking

#16109 Add specs for `x.[](y)` syntax
  spec/compiler/formatter/formatter_spec.cr
Labels: topic:tools:formatter, kind:specs

#16110 Fix `@[Primitive]` codegen for typedefs
  spec/compiler/codegen/primitives_spec.cr
  src/compiler/crystal/codegen/llvm_builder_helper.cr
  src/compiler/crystal/codegen/primitives.cr
  src/compiler/crystal/semantic/main_visitor.cr
Labels: kind:bug, topic:compiler:codegen

#16113 Fix `Time#at_beginning_of_week`,`#at_end_of_week` to respect local timezone
  spec/std/time/time_spec.cr
  src/time.cr
Labels: kind:bug, topic:stdlib:time

#16116 Trigger LLVM CI when codegen files are changed
  .github/workflows/llvm.yml
Labels: topic:compiler:codegen, topic:stdlib:llvm, topic:infrastructure/ci, kind:chore

#16118 Resolve types when guessing return type from class method overloads
  spec/compiler/semantic/instance_var_spec.cr
  src/compiler/crystal/semantic/type_guess_visitor.cr
Labels: kind:feature, topic:compiler:semantic
